<div>
  <h3 mat-dialog-title>
    Payload ({{ data.uniqueIndex }})
  </h3>
  <mat-dialog-actions>
    <pre>
      {{payload}}   
    </pre>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <div class="col-12">
      <button mat-button mat-dialog-close class="pull-right" (click)="closeDialog()">Close</button>
    </div>
  </mat-dialog-actions>
</div>
  