<div [@routerTransition]>
    <h2 class="text-muted"> Gestão de Erro</h2>

    <br>

    <div class="row">
        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToEvaluationIntegration()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="content-card">Avaliação da Integração</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Acessar avaliações </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToAllotEvaluation()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="content-card">Avaliação de Lote</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Acessar lotes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToTopazErrors()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="content-card">Erro por Falta de Histórico no Topaz</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver erros </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToSystemicError()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="content-card">Erro Sistêmico do Kettle</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver logs de erros </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
