<div class="row">
    <div class="col-xl-12">
        <!--<h2 class="page-header">-->
        <!--{{heading}}-->
        <!--</h2>-->

        <ol class="breadcrumb">
            <li *ngIf="titleFirstLevel !== '' && titleFirstLevel !== undefined" class="breadcrumb-item"><i class="fa {{iconFirstLevel}}"></i>
                <a href="Javascript:void(0)" (click)="goToLinkFirstLevel()">{{titleFirstLevel}}</a>
            </li>

            <li *ngIf="titleSecondLevel !== '' && titleSecondLevel !== undefined" class="breadcrumb-item"><i class="fa {{iconSecondLevel}}"></i>
                <a href="Javascript:void(0)" (click)="goToLinkSecondLevel()">{{titleSecondLevel}}</a>
            </li>

            <li class="breadcrumb-item active"><i class="fa {{iconCurrent}}"></i>
                {{titleCurrent}}
            </li>
        </ol>
    </div>
</div>
