<div class="col-xl-12" [hidden]="dataSource.loading$ | async">
    <div class="card">
        <div class="card-header"><i class="fa fa-search fa-fw"></i> Pesquisar</div>
        <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
                <div class="row">

                    <div class="col-sm-3">
                        <mat-form-field class="form-material">
                            <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendar"
                                   (dateChange)="startDateChange($event)"
                                   placeholder="Início validade"
                                   [value]="startDate.value">
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                        <mat-form-field class="form-material">
                            <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendar"
                                   (dateChange)="endDateChange($event)"
                                   placeholder="Fim validade"
                                   [value]="endDate.value">
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-3">
                        <mat-form-field class="form-material">
                            <mat-select placeholder="Status" [(value)]="selectedStatus" multiple>
                                <mat-option *ngFor="let i of allStatus" [value]="i.value">
                                    {{ i.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="btn-cancel">
                        <button type="button" (click)="reset()" mat-raised-button>
                            Cancelar
                        </button>
                    </div>

                    <div class="btn-apply">
                        <button type="submit" mat-raised-button>
                            <span>Pesquisar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br/>
<br/>

<div class="col-xl-12 btn-par-container" [hidden]="dataSource.loading$ | async" *ngxPermissionsOnly="[permission.getDigContabilAdm()]">

    <ng-container *ngIf="highlightedRows.length > 0">

        <ng-container *ngIf="currentObj.status === getActual(); else draft">
            <div class="btn-remove-par" *ngIf="currentObj.validityEnd === null || currentObj.validityEnd === undefined">
                <button type="button" (click)="finalize()" mat-raised-button>
                    <span><i class="btn-create fa fa-minus"></i></span> <span class="lbl-create"> Finalizar Vigência</span>
                </button>
            </div>

            <div class="btn-edit-par">
                <button type="button" (click)="edit()" mat-raised-button>
                    <span><i class="btn-create fa fa-pencil"></i></span> <span class="lbl-create"> Editar</span>
                </button>
            </div>
        </ng-container>

        <ng-template #draft>
            <ng-container *ngIf="currentObj.status === getDraft() && isUserAuthorized(); else rejected">
                <div class="btn-remove-par">
                    <button type="button" (click)="removeDraft()" mat-raised-button>
                        <span><i class="btn-create fa fa-minus"></i></span> <span class="lbl-create"> Excluir Rascunho</span>
                    </button>
                </div>

                <div class="btn-edit-par">
                    <button type="button" (click)="editDraft()" mat-raised-button>
                        <span><i class="btn-create fa fa-pencil"></i></span> <span class="lbl-create"> Editar Rascunho</span>
                    </button>
                </div>

                <div class="btn-edit-par">
                    <button type="button" (click)="sendDraftToApprove()" mat-raised-button>
                        <span><i class="btn-create fa fa-pencil"></i></span> <span class="lbl-create"> Enviar para Aprovação</span>
                    </button>
                </div>
            </ng-container>
        </ng-template>

        <ng-template #rejected>
            <ng-container *ngIf="currentObj.status === getDisapproved() && isUserAuthorized()">
                <div class="btn-remove-par">
                    <button type="button" (click)="cancelRequest()" mat-raised-button>
                        <span><i class="btn-create fa fa-minus"></i></span> <span class="lbl-create"> Cancelar</span>
                    </button>
                </div>

                <div class="btn-edit-par">
                    <button type="button" (click)="reviewRequest()" mat-raised-button>
                        <span><i class="btn-create fa fa-pencil"></i></span> <span class="lbl-create"> Revisar</span>
                    </button>
                </div>
            </ng-container>
        </ng-template>

    </ng-container>

    <div class="btn-create-par">
        <button type="button" (click)="create()" mat-raised-button>
            <span><i class="btn-create fa fa-plus"></i></span> <span class="lbl-create"> Criar</span>
        </button>
    </div>
</div>

<br/>
<br/>

<div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
    <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
</div>

<div class="col-xl-12" [hidden]="dataSource.isDataSourceEmpty() || (dataSource.loading$ | async)">
    <div class="table-container mat-elevation-z8">

        <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.isDataSourceEmpty() || (dataSource.loading$ | async)"
                   class="table table-striped" matSort matSortDisableClear>

            <ng-container matColumnDef="validityStart">
                <mat-header-cell *matHeaderCellDef mat-sort-header="validityStart" class="mat-validitystart-cell"> Início Validade
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-validitystart-cell">
                    {{element.control != null ? element.control.validityStartLocalePtBR : element.validityStartLocalePtBR}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="validityEnd">
                <mat-header-cell *matHeaderCellDef mat-sort-header="validityEnd" class="mat-validityend-cell"> Fim Validade
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-validityend-cell">
                    {{element.control != null ? element.control.validityEndLocalePtBR : element.validityEndLocalePtBR}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef class="mat-value-cell" mat-sort-header="value">
                    Valor
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-value-cell">
                    {{element.control != null ? element.control.value : element.value}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valueDescription">
                <mat-header-cell *matHeaderCellDef class="mat-valuedescription-cell" mat-sort-header="valueDescription">
                    Descrição do Valor
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-valuedescription-cell">
                    {{element.control != null ? element.control.valueDescription : element.valueDescription}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="registerResponsible">
                <mat-header-cell *matHeaderCellDef class="mat-registerresponsible-cell" mat-sort-header="registerResponsible">
                    Responsável pelo Cadastro
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-registerresponsible-cell">
                    {{element.control != null ? element.control.registerResponsible : element.registerResponsible}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef class="mat-status-cell">
                    Status
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-status-cell">
                    <span *ngIf="element.status === getDraft()">Rascunho</span>
                    <span *ngIf="element.status === getSent()">Enviado</span>
                    <span *ngIf="element.status === getActual()">Ativo</span>
                    <span *ngIf="element.status === getFinalized()">Finalizado</span>
                    <span *ngIf="element.status === getDisapproved()">Reprovado</span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     (click)="onSelectRow(row)"
                     [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''"></mat-row>
        </mat-table>

        <div class="bottom">
            <div class="bottom-paginator">
                <mat-paginator [hidden]="dataSource.isDataSourceEmpty() || (dataSource.loading$ | async)"
                               [length]="dataSource.response.totalElements"
                               [pageSize]="20"
                               [pageSizeOptions]="[5, 10, 20, 50]"
                               [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
