<h5 mat-dialog-title>Tem certeza que deseja remover os erros selecionados?</h5>

<div mat-dialog-actions>
    <button mat-button (click)="delete()">Sim</button>
    <button mat-button (click)="onNoClick()">Não</button>
</div>
