<div mat-dialog-content>
    <form (ngSubmit)="onSave()" #formDirective="ngForm" #typeForm="ngForm">

        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="form-material">
                    <mat-label>Início da Vigência</mat-label>
                    <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendarFormControl"
                           [(ngModel)]="startDate" (dateChange)="startDateChange($event)" [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                    <mat-error *ngIf="startCalendarFormControl.hasError('required')">
                        Início da Vigência é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-6" *ngIf="canFillEndDate">
                <mat-form-field class="form-material">
                    <mat-label>Fim da Vigência</mat-label>
                    <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendarFormControl"
                           [(ngModel)]="endDate" (dateChange)="endDateChange($event)" [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-error>
                        Fim da Vigência deve ser <strong>superior ao Início da Vigência</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="form-material">
                    <mat-label>Sistema</mat-label>
                    <input matInput id="system" type="text" [(ngModel)]="system.system" name="system" maxlength="20" size="20"
                           [formControl]="systemFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="systemFormControl.hasError('required')">
                        Sistema é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="form-material">
                    <mat-label>Descrição do Sistema</mat-label>
                    <input matInput id="systemDescription" type="text" [(ngModel)]="system.systemDescription" name="systemDescription"
                           maxlength="100" size="100" [formControl]="systemDescriptionFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="systemDescriptionFormControl.hasError('required')">
                        Descrição do sistema é <strong>obrigatória</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="form-material">
                    <mat-label>Código SAP</mat-label>
                    <input matInput id="sapCode" type="text" [(ngModel)]="system.sapCode" name="sapCode"
                           maxlength="2" size="2" [formControl]="sapCodeFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="sapCodeFormControl.hasError('required')">
                        Código SAP é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="form-material">
                    <mat-label>Email do Responsável</mat-label>
                    <input matInput id="email" type="text" [(ngModel)]="system.emailResponsible" name="email"
                           maxlength="100" size="100" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email do Responsável é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions>
            <button mat-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-button type="reset" (click)="onReset()">Limpar</button>
            <button mat-button type="button" (click)="onSend()" cdkFocusInitial>Enviar para Aprovação</button>
            <button mat-button type="submit" cdkFocusInitial>Salvar como Rascunho</button>
        </div>

    </form>
</div>

