<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/gestao-erro'"
                     [titleFirstLevel]="'Gestão de Erro'"
                     [iconFirstLevel]="'fa-wrench'"
                     [urlSecondLevel]="'/gestao-erro/erro-sistemico'"
                     [titleSecondLevel]="'Erro Sistêmico do Kettle'"
                     [iconSecondLevel]="'fa-archive'"
                     titleCurrent=""
                     [iconCurrent]="'fa-file'"></app-page-header>

    <h2 class="text-muted" [hidden]="dataSource.noDataFound">
        <small>
            Detalhe do erro
            <span *ngIf="dataSource.logErrorCurrent?.date != ''" [hidden]="dataSource.loading$ | async">
            Ocorrido em {{ dataSource.logErrorCurrent?.date }}
        </span>
        </small>
    </h2>

    <br>

    <div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12 mat-table-margin-bottom" [hidden]="dataSource.allotmentsSubject.getValue().length === 0 || (dataSource.loading$ | async)">
        <div class="table mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.allotmentsSubject.getValue().length === 0 || (dataSource.loading$ | async)" class="table table-striped">
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef class="mat-description-header-cell">{{ dataSource.logErrorCurrent?.error }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-description-cell">{{element.description}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>

    <br/>

    <a [hidden]="dataSource.loading$ | async" style="margin-left: 1.1rem" href="Javascript:void(0)" [routerLink]="['/gestao-erro/erro-sistemico']">Voltar</a>
</div>
