.table {
    min-width: 700px;
    overflow: auto;
    font-size: 90%;
    background-color: white !important;
}

.mat-table {
    display: table;
    padding: 0 16px;
    background-color: white !important;

    > .mat-header-row, > .mat-row {
        display: table-row;
        padding: 0;
        border: none;

        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            height: 48px;
            vertical-align: middle;
            padding: 0 0.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-description-header-cell {
    width: 100% !important;
    text-align: left;
}

.mat-description-cell {
    width: 100% !important;
    text-align: left;
}

.spinner-container {
    height: 360px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 43%;
}
