<nav class="navbar navbar-expand-lg fixed-top">

    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-bars toggler-text-muted" aria-hidden="true"></i>
    </button>

    <a class="navbar-brand" href="/">Gestão da Integração Contábil</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bell"
                       [ngClass]="{'alert-error': getTotalErrorAllotment() > 0 ||
                       getTotalErrorEvaluationIntegration() > 0 ||
                       getTotalNotIntegratedStatusTopazMovement() > 0 ||
                       getTotalLogKettle() > 0}">
                    </i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right alert-header" ngbDropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item" (click)="goToTotalError()">
                        <span *ngIf="getTotalErrorAllotment() > 1">Lotes com erro</span>
                        <span *ngIf="getTotalErrorAllotment() <= 1">Lote com erro</span>
                        <span class="badge"
                              [ngClass]="{'badge-alert': getTotalErrorAllotment() > 0, 'badge-info': getTotalErrorAllotment() === 0}">
                            {{getTotalErrorAllotment()}}
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" (click)="goToTotalNotSent()">
                        <span *ngIf="getTotalNotSentAllotment() > 1">Lotes não enviados</span>
                        <span *ngIf="getTotalNotSentAllotment() <= 1">Lote não enviado</span>
                        <span class="badge badge-info"> {{getTotalNotSentAllotment()}}</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" (click)="goToTotalDisconsidered()">
                        <span *ngIf="getTotalDisconsidered() > 1">Lotes desconsiderados</span>
                        <span *ngIf="getTotalDisconsidered() <= 1">Lote desconsiderado</span>
                        <span class="badge badge-info"> {{getTotalDisconsidered()}}</span>
                    </a>

                    <li class="dropdown-divider"></li>

                    <a href="javascript:void(0)" class="dropdown-item" (click)="goToIntegrationEvaluation()">
                        <span *ngIf="getTotalErrorEvaluationIntegration() > 1">Erros de aval. de integ.</span>
                        <span *ngIf="getTotalErrorEvaluationIntegration() <= 1">Erro de aval. de integ.</span>
                        <span class="badge"
                              [ngClass]="{'badge-alert': getTotalErrorEvaluationIntegration() > 0, 'badge-info': getTotalErrorEvaluationIntegration() === 0}">
                            {{getTotalErrorEvaluationIntegration()}}
                        </span>
                    </a>

                    <li class="dropdown-divider"></li>

                    <a href="javascript:void(0)" class="dropdown-item" (click)="goToTopazMovementToViewNotIntegrated()">
                        <span *ngIf="getTotalNotIntegratedStatusTopazMovement() > 1">Erros de histórico</span>
                        <span *ngIf="getTotalNotIntegratedStatusTopazMovement() <= 1">Erro de histórico</span>
                        <span class="badge"
                              [ngClass]="{'badge-alert': getTotalNotIntegratedStatusTopazMovement() > 0, 'badge-info': getTotalNotIntegratedStatusTopazMovement() === 0}">
                            {{getTotalNotIntegratedStatusTopazMovement()}}
                        </span>
                    </a>

                    <li class="dropdown-divider"></li>

                    <a href="javascript:void(0)" class="dropdown-item" (click)="goToLogsKettle()">
                        <span *ngIf="getTotalLogKettle()> 1">Erros sistêmicos do Kettle</span>
                        <span *ngIf="getTotalLogKettle()<= 1">Erro sistêmico do Kettle</span>
                        <span class="badge"
                              [ngClass]="{'badge-alert': getTotalLogKettle()> 0, 'badge-info': getTotalLogKettle()=== 0}">
                            {{getTotalLogKettle()}}
                        </span>
                    </a>

                    <!--<li class="dropdown-divider"></li>-->

                    <!--<a href="javascript:void(0)" class="dropdown-item" (click)="goToMassiveRegistration()">-->
                        <!--<span *ngIf="getTotalMassiveRegistration()> 1">Erros cad. massivo</span>-->
                        <!--<span *ngIf="getTotalMassiveRegistration()<= 1">Erro cad. massivo</span>-->
                        <!--<span class="badge"-->
                              <!--[ngClass]="{'badge-alert': getTotalMassiveRegistration()> 0, 'badge-info': getTotalMassiveRegistration()=== 0}">-->
                                    <!--{{getTotalMassiveRegistration()}}-->
                                <!--</span>-->
                    <!--</a>-->
            </div>
    </li>

    <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
            <i class="fa fa-user"></i> {{userService.currentUser?.firstName}} {{userService.currentUser?.secondName}} <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
                <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
            </a>
        </div>
    </li>
    </ul>
    </div>
</nav>
