$topnav-background-color: #343a40;
:host {
    .navbar {
        background-color: $topnav-background-color;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
        .navbar-brand {
            color: #e3e3e3;
            margin-left: 4rem;
        }
        .nav-item > a {
            color: #e3e3e3;
            &:hover {
                color: white;
            }
        }
    }
    .navbar a:hover {
        color: white;
    }
    .navbar a:active {
        color: white;
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.toggler-text-muted {
    color: #e3e3e3 !important;
}

.dropdown-menu-right {
    a {
        color: rgba(0, 0, 0, .65) !important;
    }
    a:hover {
        color: #000 !important;
        background-color: transparent !important;
    }
}

.alert-header {
    font-size: 85%;
    min-width: 200px;
}

.badge-alert {
    background-color: #d02e3d;
    color: #fff;
}

.alert-error {
    color: #d02e3d !important;
}

.alert-not-sent {
    color: #17a2b8 !important;
}
