<div mat-dialog-content>
    <form (ngSubmit)="onSave()" #formDirective="ngForm" #typeForm="ngForm">

        <div class="row" *ngIf="control.feedback != null || control.feedback != undefined">
            <div class="col-sm-12">
                <mat-form-field class="form-material">
                    <mat-label><strong>Comentário do revisor:</strong></mat-label>
                    <textarea matInput [value]="control.feedback" disabled="true"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="form-material">
                    <mat-label>Início da Vigência</mat-label>
                    <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendarFormControl"
                           [(ngModel)]="startDate" (dateChange)="startDateChange($event)" [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                    <mat-error *ngIf="startCalendarFormControl.hasError('required')">
                        Início da Vigência é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-6">
                <mat-form-field class="form-material">
                    <mat-label>Fim da Vigência</mat-label>
                    <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendarFormControl"
                           [(ngModel)]="endDate" (dateChange)="endDateChange($event)" [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-error>
                        Fim da Vigência deve ser <strong>superior ao Início da Vigência</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="form-material">
                    <mat-label>Valor</mat-label>
                    <input matInput id="value" type="text"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                           [(ngModel)]="control.value" name="value"
                           [formControl]="valueFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="valueFormControl.hasError('required')">
                        Valor é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="form-material">
                    <mat-label>Descrição do Valor</mat-label>
                    <input matInput id="valueDescription" type="text"
                           [(ngModel)]="control.valueDescription" name="valueDescription"
                           maxlength="100" size="100" [formControl]="valueDescriptionFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="valueDescriptionFormControl.hasError('required')">
                        Descrição do valor é <strong>obrigatória</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions>
            <button mat-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-button type="reset" (click)="onReset()">Limpar</button>
            <button mat-button type="button" (click)="onSend()" cdkFocusInitial>Enviar para aprovação</button>
            <button mat-button type="submit" cdkFocusInitial>Salvar como Rascunho</button>
        </div>

    </form>
</div>
