<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/parametrizacao'"
                     [titleFirstLevel]="'Parametrização'"
                     [iconFirstLevel]="'fa-cogs'"
                     titleCurrent=""
                     [iconCurrent]="'fa-save'"></app-page-header>

    <h2 class="text-muted">
        <small> Parâmetro para Definição de Centro</small>
    </h2>

    <br>

    <div class="col-xl-12" [hidden]="dataSource.loading$ | async">
        <div class="card">
            <div class="card-header" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <span class="titleLeft" matTooltip="Alterne entre as funcionalidades de Cadastrar e Pesquisar!"
                      [matTooltipPosition]="position">
                    <mat-slide-toggle [checked]="!toggleRegisterChecked" (change)="changeToggle($event)">
                        <span
                            [ngClass]="{'toggle-register-checked': toggleRegisterChecked, 'toggle-search-checked': !toggleRegisterChecked}">{{labelParameter}}</span>
                        <span style="color: rgba(0, 0, 0, 0.54)">/</span>
                        <span
                            [ngClass]="{'toggle-register-checked': !toggleRegisterChecked, 'toggle-search-checked': toggleRegisterChecked}">Pesquisar</span>
                    </mat-slide-toggle>
                </span>
                <span *ngIf="toggleRegisterChecked" class="titleRight"><i style="font-size: 1.1rem"
                                                                          class="fa fa-pencil fa-fw"></i></span>
                <span *ngIf="!toggleRegisterChecked" class="titleRight"><i style="font-size: 1.1rem"
                                                                           class="fa fa-search fa-fw"></i></span>
            </div>
            <div class="card-header" [hidden]="isCardHeaderOutside()"
                 *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                Pesquisar
                <span *ngIf="toggleRegisterChecked" class="titleRight"><i style="font-size: 1.1rem"
                                                                          class="fa fa-pencil fa-fw"></i></span>
                <span *ngIf="!toggleRegisterChecked" class="titleRight"><i style="font-size: 1.1rem"
                                                                           class="fa fa-search fa-fw"></i></span>
            </div>
            <div class="card-body" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <form [formGroup]="form" (ngSubmit)="onSubmit(form, formDirective)" #formDirective="ngForm"
                      #typeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Sistema" (selectionChange)="selectionSystemChange($event)"
                                             [(value)]="selectedSystem" [formControl]="system" [(ngModel)]="currentParameter.system">
                                    <mat-option>--SELECIONE--</mat-option>
                                    <mat-option *ngFor="let sys of systems" [value]="sys.system" >
                                        {{ sys.description }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Tipo de Evento"
                                            (selectionChange)="selectionEventTypeChange($event)"
                                            [value]="selectedEventType"
                                            [ngModel]="currentParameter.eventType.id"
                                            [formControl]="eventTypeSelect"
                                        >
                                    <mat-option>&#45;&#45;SELECIONE&#45;&#45;</mat-option>
                                    <mat-option *ngFor="let eventType of eventTypes" [value]="eventType.id">
                                        {{ eventType.id +'-'+eventType.code }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Evento"
                                            (selectionChange)="selectionEventChange($event)"
                                [(value)]="selectedEvent"
                                [formControl]="eventSelect"
                                [ngModel]="currentParameter.event.id">
                                    <mat-option>&#45;&#45;SELECIONE&#45;&#45;</mat-option>
                                    <mat-option *ngIf="eventsLoading">Carregando Itens...</mat-option>
                                    <mat-option *ngFor="let event of events" [value]="event.id">
                                        {{ event.code + ' - ' + event.system.code }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Empresa"
                                            (selectionChange)="selectionCompanyChange($event)"
                                            [(value)]="selectedCompany">
                                    <mat-option>--SELECIONE--</mat-option>
                                    <mat-option *ngFor="let company of companies" [value]="company.value">
                                        {{ company.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Produto</mat-label>
                                <input matInput id="product" type="text" maxLength="5"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="currentParameter.product" name="product" formControlName="product">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Operação</mat-label>
                                <input matInput id="operation" type="text" maxLength="5"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="currentParameter.operation" name="operation"
                                       formControlName="operation">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Associado" [formControl]="associated"
                                            (selectionChange)="selectionAssociatedChange($event)"
                                            [(value)]="selectedAssociated">
                                    <mat-option>--SELECIONE--</mat-option>
                                    <mat-option *ngFor="let associated of associateds" [value]="associated.value">
                                        {{ associated.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Início da Conta</mat-label>
                                <input matInput id="accountStart" type="text" maxLength="10"
                                       onkeypress="return String.fromCharCode(event.charCode).match(/[a-zA-Z0-9 ]/g) != null"
                                       style="text-transform: uppercase"
                                       [(ngModel)]="currentParameter.accountStart" name="accountStart"
                                       formControlName="accountStart">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Centro Lucro Fixo</mat-label>
                                <input matInput id="fixedProfitCenter" type="text" maxLength="10"
                                       onkeypress="return String.fromCharCode(event.charCode).match(/[a-zA-Z0-9 ]/g) != null"
                                       style="text-transform: uppercase"
                                       (input)="changeFixedProfitCenter($event)"
                                       [(ngModel)]="currentParameter.fixedProfitCenter" name="fixedProfitCenter"
                                       formControlName="fixedProfitCenter">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Centro Lucro Composto</mat-label>
                                <input matInput id="finalCompoundProfitCenter" type="text" maxLength="15"
                                       onkeypress="return String.fromCharCode(event.charCode).match(/[a-zA-Z0-9 ]/g) != null"
                                       style="text-transform: uppercase"
                                       (input)="changeFinalCompoundProfitCenter($event)"
                                       [(ngModel)]="currentParameter.finalCompoundProfitCenter"
                                       name="finalCompoundProfitCenter"
                                       formControlName="finalCompoundProfitCenter">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Início da Vigência</mat-label>
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendar"
                                       [(ngModel)]="currentParameter.validityStart"
                                       (change)="startDateChange($event)"
                                       (dateChange)="startDateChange($event)"
                                    >
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Fim da Vigência</mat-label>
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendar"
                                       [(ngModel)]="currentParameter.validityEnd"
                                       (change)="endDateChange($event)"
                                       (dateChange)="endDateChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-remove">
                                <button type="button" [hidden]="!canFinishValidity" (click)="remove(formDirective)"
                                        mat-raised-button>
                                    Finalizar Vigência
                                </button>
                            </div>

                            <div class="btn-apply">
                                <button type="submit" mat-raised-button>
                                    <span *ngIf="toggleRegisterChecked">Salvar</span>
                                    <span *ngIf="!toggleRegisterChecked">Pesquisar</span>
                                </button>
                            </div>

                            <div class="btn-cancel">
                                <button type="button" (click)="reset(formDirective)" mat-raised-button>
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <br/>

    <div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12" [hidden]="dataSource.data.getValue().length === 0 || (dataSource.loading$ | async)">
        <div class="table-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource"
                       [hidden]="dataSource.data.getValue().length === 0 || (dataSource.loading$ | async)"
                       class="table table-striped mat-grid-center" matSort matSortDisableClear>
                <ng-container matColumnDef="system">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="system" class="columns-size"> Sistema
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        <p class="format-system">{{element.system}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eventType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="eventType" class="columns-size"> Tipo Evento
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.eventType ? element.eventType.code : ''}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="event">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="event" class="columns-size"> Evento
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.event ? element.event.code : ''}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="company">
                        Empresa
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.company}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="product">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="product">
                        Produto
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.product}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="operation">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="operation">
                        Operação
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.operation}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="associated">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="associated">
                        Associado
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.associated}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="accountStart">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="accountStart">
                        Início da Conta
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.accountStart}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fixedProfitCenter">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="fixedProfitCenter">
                        Centro Fixo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.fixedProfitCenter}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="finalCompoundProfitCenter">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="finalCompoundProfitCenter">
                        Centro Composto
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.finalCompoundProfitCenter}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="validityStart">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="validityStart">
                        Vigência Início
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.validityStart | date:'dd/MM/yyyy'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="validityEnd">
                    <mat-header-cell *matHeaderCellDef class="columns-size" mat-sort-header="validityEnd">
                        Vigência Fim
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{element.validityEnd | dateFormat}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="responsibleRegister">
                    <mat-header-cell *matHeaderCellDef class="columns-size">
                        Resp. Registro
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{!element.responsibleParam.responsibleRegister ? 'Não definido' :
                        element.responsibleParam.responsibleRegister}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="responsibleValidity">
                    <mat-header-cell *matHeaderCellDef class="columns-size">
                        Resp. Finalizar Vigência
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="columns-size">
                        {{!element.responsibleParam.responsibleValidity ? 'Não definido' :
                        element.responsibleParam.responsibleValidity}}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         (click)="onSelectRow(row)"
                         [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''"></mat-row>
            </mat-table>
            <div class="bottom">
                <div class="bottom-paginator">
                    <mat-paginator [hidden]="dataSource.data.getValue().length === 0 || (dataSource.loading$ | async)"
                                   [length]="dataSource.page.totalElements"
                                   [pageSize]="sizePerPage"
                                   [pageSizeOptions]="dataSource.page.pageSizeOptions"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>

        </div>
    </div>

    <br/>
</div>
