<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/sicredi_logo.png" width="150px" class="user-avatar"/>
            <h1>Gestão da Integração Contábil</h1>
            <form [formGroup]="form" (ngSubmit)="login()" #loginForm="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"
                               name="username"
                               formControlName="username"
                               class="form-control input-underline input-lg" id=""
                               placeholder="Nome de usuário">
                    </div>

                    <div class="form-group">
                        <input type="password"
                               name="password"
                               formControlName="password"
                               class="form-control input-underline input-lg"
                               placeholder="Senha">
                    </div>
                </div>
                <button class="btn rounded-btn"> Entrar</button>
            </form>
        </div>
    </div>
</div>
