<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/parametrizacao'"
                     [titleFirstLevel]="'Parametrização'"
                     [iconFirstLevel]="'fa-cogs'"
                     titleCurrent=""
                     [iconCurrent]="'fa-save'"></app-page-header>

    <h2 class="text-muted">
        <small> Parâmetro para Tipo de Movimento</small>
    </h2>

    <br>

    <div class="col-xl-12" [hidden]="(dataSource.loading$ | async)">
        <div class="card">
            <div class="card-header" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <span class="titleLeft" matTooltip="Alterne entre as funcionalidades de Cadastrar e Pesquisar!" [matTooltipPosition]="position">
                    <mat-slide-toggle [checked]="!toggleRegisterChecked" (change)="changeToggle($event)">
                        <span
                            [ngClass]="{'toggle-register-checked': toggleRegisterChecked, 'toggle-search-checked': !toggleRegisterChecked}">{{labelParameter}}</span>
                        <span style="color: rgba(0, 0, 0, 0.54)">/</span>
                        <span [ngClass]="{'toggle-register-checked': !toggleRegisterChecked, 'toggle-search-checked': toggleRegisterChecked}">Pesquisar</span>
                    </mat-slide-toggle>
                </span>
                <span *ngIf="toggleRegisterChecked" class="titleRight"><i style="font-size: 1.1rem" class="fa fa-pencil fa-fw"></i></span>
                <span *ngIf="!toggleRegisterChecked" class="titleRight"><i style="font-size: 1.1rem" class="fa fa-search fa-fw"></i></span>
            </div>
            <div class="card-header" [hidden]="isCardHeaderOutside()"
                 *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                Pesquisar
                <span *ngIf="toggleRegisterChecked" class="titleRight"><i style="font-size: 1.1rem" class="fa fa-pencil fa-fw"></i></span>
                <span *ngIf="!toggleRegisterChecked" class="titleRight"><i style="font-size: 1.1rem" class="fa fa-search fa-fw"></i></span>
            </div>
            <div class="card-body" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <form [formGroup]="form" (ngSubmit)="onSubmit(form, formDirective)" #formDirective="ngForm" #typeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <mat-label>Conta</mat-label>
                                <input matInput id="account" type="text" maxLength="17"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="currentParameter.account" name="account" formControlName="account">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <mat-label>Operação</mat-label>
                                <input matInput id="operation" type="text" maxLength="5"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="currentParameter.operation" name="operation" formControlName="operation">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <mat-label>Tipo de Movimento</mat-label>
                                <input matInput id="typeMovement" type="text" maxlength="3"
                                       onkeypress="return String.fromCharCode(event.charCode).match(/[a-zA-Z0-9 ]/g) != null"
                                       [(ngModel)]="currentParameter.typeMovement" name="typeMovement" formControlName="typeMovement">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 font-radio-group">
                            <mat-label [hidden]="isSideBarActive()" class="radio-label show-according-resolution">Tipo de Operação:</mat-label>
                            <mat-radio-group [(ngModel)]="currentParameter.typeAccount" name="typeAccount" formControlName="typeAccount">
                                <mat-radio-button class="radio-btn-adjust" [ngClass]="{'radio-btn-selected': currentParameter.typeAccount === 'D'}" value="D">
                                    Débito
                                </mat-radio-button>
                                <mat-radio-button class="radio-btn-adjust" [ngClass]="{'radio-btn-selected': currentParameter.typeAccount === 'C'}" value="C">
                                    Crédito
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <mat-label>Início da Vigência</mat-label>
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendar"
                                       [(ngModel)]="startDate"
                                       (dateChange)="startDateChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <mat-label>Fim da Vigência</mat-label>
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendar"
                                       [(ngModel)]="endDate"
                                       (dateChange)="endDateChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-remove">
                                <button type="button" [hidden]="!canFinishValidity" (click)="remove(formDirective)"
                                        mat-raised-button>
                                    Finalizar Vigência
                                </button>
                            </div>

                            <div class="btn-apply">
                                <button type="submit" mat-raised-button>
                                    <span *ngIf="toggleRegisterChecked">Salvar</span>
                                    <span *ngIf="!toggleRegisterChecked">Pesquisar</span>
                                </button>
                            </div>

                            <div class="btn-cancel">
                                <button type="button" (click)="reset(formDirective)" mat-raised-button>
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br/>

    <div id="spinner" class="spinner-container" *ngIf="(dataSource.loading$ | async)">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12" [hidden]="dataSource.data.getValue().length === 0 || (dataSource.loading$ | async)">
        <div class="table-container mat-elevation-z8">

            <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.data.getValue().length === 0 || (dataSource.loading$ | async)"
                       class="table table-striped mat-grid-tye-movement" matSort matSortDisableClear>
                <ng-container matColumnDef="account">
                    <mat-header-cell *matHeaderCellDef class="column-size" mat-sort-header="account">
                        Conta
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="column-size">
                        {{element.account}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="operation">
                    <mat-header-cell *matHeaderCellDef class="column-size" mat-sort-header="operation">
                        Operação
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="column-size">
                        {{element.operation}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="typeMovement">
                    <mat-header-cell *matHeaderCellDef class="column-size" mat-sort-header="typeMovement">
                        Tipo de Movimento
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="column-size">
                        {{element.typeMovement}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="typeAccount">
                    <mat-header-cell *matHeaderCellDef class="column-size" mat-sort-header="typeAccount">
                        D/C
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="column-size">
                        {{element.typeAccount}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="validityStart">
                    <mat-header-cell *matHeaderCellDef class="column-size" mat-sort-header="validityStart">
                        Início da Vigência
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="column-size">
                        {{element.validityStartToView}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="validityEnd">
                    <mat-header-cell *matHeaderCellDef class="column-size" mat-sort-header="validityEnd">
                        Fim da Vigência
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="column-size">
                        {{element.validityEndToView}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="resposibleRegister">
                    <mat-header-cell *matHeaderCellDef class="column-size" mat-sort-header="resposibleRegister">
                        Resp. Registro
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="column-size">
                        {{!element.responsibleParam.responsibleRegister ? 'Não definido' : element.responsibleParam.responsibleRegister}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="resposibleValidity">
                    <mat-header-cell *matHeaderCellDef class="column-size" mat-sort-header="resposibleValidity">
                        Resp. Finalizar Vigência
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="column-size">
                        {{!element.responsibleParam.responsibleValidity ? 'Não definido' : element.responsibleParam.responsibleValidity}}
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         (click)="onSelectRow(row)"
                         [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''"></mat-row>
            </mat-table>
            <div class="bottom">
                <div class="bottom-paginator">
                    <mat-paginator [hidden]="dataSource.data.getValue().length === 0 || (dataSource.loading$ | async)"
                                   [length]="dataSource.page.totalElements"
                                   [pageSize]="sizePerPage"
                                   [pageSizeOptions]="dataSource.page.pageSizeOptions"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>

    <br/>
</div>
