.bg-warning {
    border-color: #5cb85c !important;
    color: #fff;
    background-color: #5cb85c !important;
}

.bg-not-sent {
    border-color: #17a2b8 !important;
    color: #fff;
    background-color: #17a2b8 !important;
}

.bg-error {
    border-color: #d02e3d !important;
    color: #fff;
    background-color: #d02e3d !important;
}

.outer-container {
    margin-left: 25px;
    margin-top: 10px;
}

.link-bottom {
    float: right;
}

.fa-arrow-circle-right {
    padding-left: 5px;
}

a:hover {
    text-decoration: none;
}

.huge {
    font-size: 30px;
}

.content-card {
    width: 125px;
    height: 60px;
}

.dashboard-cards {
    font-size: 0.85rem;
}

.fa-margin-box {
    margin-top: 7px;
}

.toggled-with-margin {
    margin-top: 25px;
}
