<div [@routerTransition]>
    <h2 class="text-muted">
        <small>Seja Bem Vindo</small>
    </h2>

    <br>

    <div *ngIf="isToggled()" class="row dashboard-cards">
        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToManagementErrorToViewErrors()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white"
                     [ngClass]="{'bg-warning': getTotalErrorAllotment() === 0, 'bg-error': getTotalErrorAllotment() > 0}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i *ngIf="getTotalErrorAllotment() > 0" class="fa fa-bolt fa-5x fa-margin-box"></i>
                                <i *ngIf="getTotalErrorAllotment() === 0" class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalErrorAllotment() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalErrorAllotment()}}</div>
                                <div class="content-card">Lotes com erros</div>
                            </div>
                            <div *ngIf="getTotalErrorAllotment() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalErrorAllotment()}}</div>
                                <div class="content-card">Lote com erro</div>
                            </div>
                            <div *ngIf="getTotalErrorAllotment() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há lote com erro</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToManagementErrorToViewNotSent()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalNotSentAllotment() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalNotSentAllotment()}}</div>
                                <div class="content-card">Lotes não enviados</div>
                            </div>
                            <div *ngIf="getTotalNotSentAllotment() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalNotSentAllotment()}}</div>
                                <div class="content-card">Lote não enviado</div>
                            </div>
                            <div *ngIf="getTotalNotSentAllotment() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há lote não enviado</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToManagementErrorToViewDisconsidered()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalDisconsideredAllotment() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalDisconsideredAllotment()}}</div>
                                <div class="content-card">Lotes desconsiderados</div>
                            </div>
                            <div *ngIf="getTotalDisconsideredAllotment() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalDisconsideredAllotment()}}</div>
                                <div class="content-card">Lote desconsiderado</div>
                            </div>
                            <div *ngIf="getTotalDisconsideredAllotment() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há lote desconsiderado</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToLogErrorKettle()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']"
               class="float-right card-inverse link-card-management-error">
                <div class="card text-white"
                     [ngClass]="{'bg-warning': getTotalLogKettle() === 0, 'bg-error': getTotalLogKettle() > 0}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i *ngIf="getTotalLogKettle() > 0" class="fa fa-bolt fa-5x fa-margin-box"></i>
                                <i *ngIf="getTotalLogKettle() === 0" class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalLogKettle() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalLogKettle()}}</div>
                                <div class="content-card">Erros sistêmicos do Kettle</div>
                            </div>
                            <div *ngIf="getTotalLogKettle() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalLogKettle()}}</div>
                                <div class="content-card">Erro sistêmico do Kettle</div>
                            </div>
                            <div *ngIf="getTotalLogKettle() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há erro sistêmico</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div *ngIf="isToggled()" class="row dashboard-cards toggled-with-margin">
        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToEvaluationIntegrationToViewErrors()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white"
                     [ngClass]="{'bg-warning': getTotalErrorEvaluationIntegration() === 0, 'bg-error': getTotalErrorEvaluationIntegration() > 0}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i *ngIf="getTotalErrorEvaluationIntegration() > 0" class="fa fa-bolt fa-5x fa-margin-box"></i>
                                <i *ngIf="getTotalErrorEvaluationIntegration() === 0" class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalErrorEvaluationIntegration() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalErrorEvaluationIntegration()}}</div>
                                <div class="content-card">Novos erros de avaliação de integração</div>
                            </div>
                            <div *ngIf="getTotalErrorEvaluationIntegration() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalErrorEvaluationIntegration()}}</div>
                                <div class="content-card">Novo erro de avaliação de integração</div>
                            </div>
                            <div *ngIf="getTotalErrorEvaluationIntegration() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há erro de avaliação de integração</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToTopazMovementToViewNotIntegrated()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white"
                     [ngClass]="{'bg-warning': getTotalNotIntegratedStatusTopazMovement() === 0, 'bg-error': getTotalNotIntegratedStatusTopazMovement() > 0}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i *ngIf="getTotalNotIntegratedStatusTopazMovement() > 0" class="fa fa-bolt fa-5x fa-margin-box"></i>
                                <i *ngIf="getTotalNotIntegratedStatusTopazMovement() === 0" class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalNotIntegratedStatusTopazMovement() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalNotIntegratedStatusTopazMovement()}}</div>
                                <div class="content-card">Novos erros de histórico</div>
                            </div>
                            <div *ngIf="getTotalNotIntegratedStatusTopazMovement() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalNotIntegratedStatusTopazMovement()}}</div>
                                <div class="content-card">Novo erro de histórico</div>
                            </div>
                            <div *ngIf="getTotalNotIntegratedStatusTopazMovement() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há erro de histórico</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div *ngIf="!isToggled()" class="row dashboard-cards">
        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToManagementErrorToViewErrors()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white"
                     [ngClass]="{'bg-warning': getTotalErrorAllotment() === 0, 'bg-error': getTotalErrorAllotment() > 0}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i *ngIf="getTotalErrorAllotment() > 0" class="fa fa-bolt fa-5x fa-margin-box"></i>
                                <i *ngIf="getTotalErrorAllotment() === 0" class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalErrorAllotment() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalErrorAllotment()}}</div>
                                <div class="content-card">Lotes com erros</div>
                            </div>
                            <div *ngIf="getTotalErrorAllotment() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalErrorAllotment()}}</div>
                                <div class="content-card">Lote com erro</div>
                            </div>
                            <div *ngIf="getTotalErrorAllotment() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há lote com erro</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToManagementErrorToViewNotSent()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalNotSentAllotment() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalNotSentAllotment()}}</div>
                                <div class="content-card">Lotes não enviados</div>
                            </div>
                            <div *ngIf="getTotalNotSentAllotment() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalNotSentAllotment()}}</div>
                                <div class="content-card">Lote não enviado</div>
                            </div>
                            <div *ngIf="getTotalNotSentAllotment() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há lote não enviado</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToManagementErrorToViewDisconsidered()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalDisconsideredAllotment() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalDisconsideredAllotment()}}</div>
                                <div class="content-card">Lotes desconsiderados</div>
                            </div>
                            <div *ngIf="getTotalDisconsideredAllotment() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalDisconsideredAllotment()}}</div>
                                <div class="content-card">Lote desconsiderado</div>
                            </div>
                            <div *ngIf="getTotalDisconsideredAllotment() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há lote desconsiderado</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToLogErrorKettle()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']"
               class="float-right card-inverse link-card-management-error">
                <div class="card text-white"
                     [ngClass]="{'bg-warning': getTotalLogKettle() === 0, 'bg-error': getTotalLogKettle() > 0}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i *ngIf="getTotalLogKettle() > 0" class="fa fa-bolt fa-5x fa-margin-box"></i>
                                <i *ngIf="getTotalLogKettle() === 0" class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalLogKettle() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalLogKettle()}}</div>
                                <div class="content-card">Erros sistêmicos do Kettle</div>
                            </div>
                            <div *ngIf="getTotalLogKettle() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalLogKettle()}}</div>
                                <div class="content-card">Erro sistêmico do Kettle</div>
                            </div>
                            <div *ngIf="getTotalLogKettle() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há erro sistêmico</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToEvaluationIntegrationToViewErrors()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white"
                     [ngClass]="{'bg-warning': getTotalErrorEvaluationIntegration() === 0, 'bg-error': getTotalErrorEvaluationIntegration() > 0}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i *ngIf="getTotalErrorEvaluationIntegration() > 0" class="fa fa-bolt fa-5x fa-margin-box"></i>
                                <i *ngIf="getTotalErrorEvaluationIntegration() === 0" class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalErrorEvaluationIntegration() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalErrorEvaluationIntegration()}}</div>
                                <div class="content-card">Novos erros de avaliação de integração</div>
                            </div>
                            <div *ngIf="getTotalErrorEvaluationIntegration() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalErrorEvaluationIntegration()}}</div>
                                <div class="content-card">Novo erro de avaliação de integração</div>
                            </div>
                            <div *ngIf="getTotalErrorEvaluationIntegration() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há erro de avaliação de integração</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToTopazMovementToViewNotIntegrated()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white"
                     [ngClass]="{'bg-warning': getTotalNotIntegratedStatusTopazMovement() === 0, 'bg-error': getTotalNotIntegratedStatusTopazMovement() > 0}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i *ngIf="getTotalNotIntegratedStatusTopazMovement() > 0" class="fa fa-bolt fa-5x fa-margin-box"></i>
                                <i *ngIf="getTotalNotIntegratedStatusTopazMovement() === 0" class="fa fa-exclamation fa-5x fa-margin-box"></i>
                            </div>
                            <div *ngIf="getTotalNotIntegratedStatusTopazMovement() > 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalNotIntegratedStatusTopazMovement()}}</div>
                                <div class="content-card">Novos erros de histórico</div>
                            </div>
                            <div *ngIf="getTotalNotIntegratedStatusTopazMovement() === 1" class="col col-xs-9 text-right">
                                <div class="huge">{{getTotalNotIntegratedStatusTopazMovement()}}</div>
                                <div class="content-card">Novo erro de histórico</div>
                            </div>
                            <div *ngIf="getTotalNotIntegratedStatusTopazMovement() === 0" class="col col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div class="content-card">Não há erro de histórico</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver detalhes </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
