<h5 mat-dialog-title>Deseja realmente aprovar a solicitação?</h5>

<div mat-dialog-actions>
    <button mat-button (click)="onYesClick()">Sim</button>
    <button mat-button (click)="onNoClick()">Não</button>
</div>
