<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/gestao-erro'"
                     [titleFirstLevel]="'Gestão de Erro'"
                     [iconFirstLevel]="'fa-wrench'"
                     titleCurrent=""
                     [iconCurrent]="'fa-archive'"></app-page-header>

    <h2 class="text-muted">
        <small> Avaliação de Lote</small>
    </h2>

    <br>

    <div class="col-xl-12" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
        <div class="card">
            <div class="card-header"><i class="fa fa-search fa-fw"></i> Pesquisar</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" #typeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Tipo" [formControl]="chargeType" (selectionChange)="onSelectionTypeChange($event)"
                                            [(value)]="selectedChargeType">
                                    <mat-option *ngFor="let type of chargeTypes" [value]="type.value">
                                        {{ type.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="chargeType.hasError('required')">Escolha um tipo</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Sistema" [formControl]="system" [(value)]="selectedSystem" multiple>
                                    <mat-option *ngFor="let sys of systems" [value]="sys.system">
                                        {{ sys.description }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Empresa" [(value)]="selectedCompany" multiple>
                                    <mat-option *ngFor="let company of companies" [value]="company.value">
                                        {{ company.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Status" [(value)]="selectedStatus">
                                    <mat-option *ngFor="let st of status" [value]="st.value">
                                        {{ st.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendar"
                                       (dateChange)="startDateChange('change', $event)"
                                       placeholder="Data início"
                                       [value]="startDate.value">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendar"
                                       (dateChange)="endDateChange('change', $event)"
                                       placeholder="Data fim"
                                       [value]="endDate.value">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="form-material" [hidden]="sapDocumentHidden">
                                <input matInput id="sapDocument" placeholder="Documento SAP" (input)="onChangeSapDocument($event.target.value)"
                                       [(ngModel)]="sapDocument"
                                       name="sapDocument" formControlName="sapDocument">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-reset">
                                <button type="reset" (click)="reset()" mat-raised-button>
                                    Cancelar
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-apply">
                                <button type="submit" mat-raised-button>
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div id="spinner" class="spinner-container" *ngIf="(dataSource.loading$ | async) || resending">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12 mat-table-margin-bottom"
         [hidden]="dataSource.allotmentsSubject.getValue().length === 0 || (dataSource.loading$ | async) || resending">
        <div class="table-container mat-elevation-z8">

            <mat-table #table [dataSource]="dataSource"
                       [hidden]="dataSource.allotmentsSubject.getValue().length === 0 || (dataSource.loading$ | async) || resending"
                       class="table table-striped" matSort matSortDisableClear>
                <ng-container matColumnDef="markedToAnalyze">
                    <mat-header-cell *matHeaderCellDef class="mat-markedtoanalyze-header-cell">
                        <input type="checkbox" id="checkall" [(ngModel)]="checks" (click)="checkall($event)"/>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-markedtoanalyze-cell">
                        <input type="checkbox" id="{{element.id}}" [(ngModel)]="element.markedToAnalyze"
                               (click)="checkMarkedToAnalyze(element, $event)"/>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef class="mat-id-header-cell">
                        ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-id-cell">
                        {{element.allotmentId}}_{{element.chargeId}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="chargeType">
                    <mat-header-cell *matHeaderCellDef class="mat-charge-type" mat-sort-header="chargeType"> Tipo</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-charge-type">
                        <span *ngIf="element.chargeType === 2">Saldo</span>
                        <span *ngIf="element.chargeType === 1">Movimento</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="system">
                    <mat-header-cell *matHeaderCellDef class="mat-system-header-cell" mat-sort-header="system"> Sistema</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-system-cell"> {{element.system}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef class="mat-company-header-cell" mat-sort-header="company"> Empresa</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-company-cell"> {{element.company}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="allotmentId">
                    <mat-header-cell *matHeaderCellDef class="mat-allotmentid-header-cell" mat-sort-header="allotmentId"> Lote</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-allotmentid-cell"> {{element.allotmentId}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actionDate">
                    <mat-header-cell *matHeaderCellDef class="mat-actiondate-header-cell" mat-sort-header="actionDate"> Data movimento
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-actiondate-cell"> {{element.actionDate}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="sapDocument">
                    <mat-header-cell *matHeaderCellDef class="mat-sapdocument-header-cell" mat-sort-header="sapDocument"> Documento SAP
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-sapdocument-cell"> {{element.sapDocument}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef class="mat-returncode-header-cell" mat-sort-header="status"> Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-returncode-cell">
                        <span *ngIf="element.status === 'SUCCESS'">Sucesso</span>
                        <span *ngIf="element.status === 'NOT_SENT'">Não enviado</span>
                        <span *ngIf="element.status === 'ERROR'">Erro</span>
                        <span *ngIf="element.status === 'DISCONSIDERED'">Desconsiderado</span>
                        <span *ngIf="element.status === 'PROCESSING'">Processando</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="returnMessage">
                    <mat-header-cell *matHeaderCellDef class="mat-returnmessage-header-cell"> Mensagem retorno / desconsiderado
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-returnmessage-cell">
                        <ng-container *ngIf="element.reasonDisregard === null || element.reasonDisregard === undefined; else justificationMsg">
                            {{element.returnMessage}}
                        </ng-container>
                        <ng-template #justificationMsg>
                            {{element.reasonDisregard}}
                        </ng-template>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="disconsidered">
                    <mat-header-cell *matHeaderCellDef class="mat-disconsidered-header-cell"> Desconsiderado
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="cursor:default;" class="mat-disconsidered-cell">
                        <input type="checkbox" class="disconsidered-checkbox" style="cursor: default" [(ngModel)]="element.disconsidered" [disabled]="true"/>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="bottom">
                <div class="bottom-paginator">
                    <mat-paginator [hidden]="dataSource.allotmentsSubject.getValue().length === 0 || (dataSource.loading$ | async) || resending"
                                   [length]="dataSource.page.totalElements"
                                   [pageSize]="20"
                                   [pageSizeOptions]="dataSource.page.pageSizeOptions"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <nav class="navbar navbar-expand-sm bottom-bg-purple navbar-dark fixed-bottom navbar-controls" [hidden]="!selectedAllotments.length">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <a class="nav-link" href="javascript:void(0)" (click)="generateFileForReview()"><i class="fa fa-download"></i> Gerar Arquivo para Análise </a>
            </li>

            <li class="nav-item" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <a class="nav-link" href="javascript:void(0)" (click)="disregardSelectedRecords()"><i class="fa fa-retweet"></i> Desconsiderar Registros </a>
            </li>

            <li class="nav-item" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <a class="nav-link" href="javascript:void(0)" (click)="reconsiderSelectedRecords()"><i class="fa fa-undo"></i> Reconsiderar Registros </a>
            </li>

            <li class="nav-item" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
                <a class="nav-link" href="javascript:void(0)" (click)="resendSelectedRecords()"><i class="fa fa-reply"></i> Reenviar Registros</a>
            </li>
        </ul>
    </nav>
</div>
