<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/engine'"
                     [titleFirstLevel]="'Engine'"
                     [iconFirstLevel]="'fa-cogs'"
                     titleCurrent=""
                     [iconCurrent]="'fa-save'"></app-page-header>

    <h2 class="text-muted">
        <small> Cadastramento de Parâmetros de Sistemas</small>
    </h2>

    <br>

    <ng-container *ngIf="admAuthorized; else consulta">
        <tabs (currentTabChange)="onTabChange($event)">
            <tab tabTitle="Administração">
                <br/>
                <app-management #appManagement></app-management>
            </tab>
            <tab tabTitle="Cadastro">
                <br/>
                <app-register-maintenance #appRegisterMaintenance></app-register-maintenance>
            </tab>
        </tabs>
    </ng-container>

    <ng-template #consulta>
        <ng-container *ngIf="consultaAuthorized; else aprovador">
            <tabs (currentTabChange)="onTabChange($event)">
                <tab tabTitle="Cadastro">
                    <br/>
                    <app-register-maintenance #appRegisterMaintenance></app-register-maintenance>
                </tab>
            </tabs>
        </ng-container>
    </ng-template>

    <ng-template #aprovador>
        <tabs (currentTabChange)="onTabChange($event)">
            <tab tabTitle="Administração">
                <br/>
                <app-management #appManagement></app-management>
            </tab>
        </tabs>
    </ng-template>

    <br/>

</div>
