.mat-cell {
    font-size: 13px !important;
}

.spinner-container {
    height: 360px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 43%;
}

@media screen and (min-height: 1000px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 1000px;
        background-color: white !important;
    }
}

@media screen and (max-height: 800px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 520px;
        background-color: white !important;
    }
}

@media screen and (min-height: 800px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 750px;
        background-color: white !important;
    }
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-cell {
    flex: auto !important;
}

.mat-header-cell {
    flex: auto !important;
}

.mat-table {
    padding: 0 16px;

    > .mat-header-row {
        position: sticky !important;
        top: 0 !important;
        background: white !important;
        z-index: 900;
        min-height: 52px !important;
    }

    > .mat-header-row {
        padding: 0;
        border: none;

        > .mat-header-cell {
            font-weight: 600;
        }

        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            min-height: 52px !important;
            vertical-align: middle;
            padding: 0 4px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-validitystart-cell {
    width: 7rem;
}

.mat-validityend-cell {
    width: 7rem;
}

.mat-system-cell {
    width: 9rem;
}

.mat-systemdescription-cell {
    width: 15rem;
}

.mat-sapcode-cell {
    width: 7rem;
}

.mat-registerresponsible-cell {
    width: 11rem;
}

.mat-emailresponsible-cell {
    width: 11rem;
}

.mat-status-cell {
    width: 8rem;
}

.nav-link-controls {
    padding-left: 1.7rem !important;
}

.bottom-bg-purple {
    background-color: #563d7c;
    padding: 0;
    font-size: 13px;
}

.filter-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 13px !important;
    width: 100%;
}

.ml-auto, .mx-auto {
    margin-left: 2rem !important;
}

.form-material {
    min-width: 150px;
    max-width: 5000px;
    width: 100%;
    color: rgba(0, 0, 0, .87);
}

.mat-raised-button {
    font-size: 12px !important;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-color: #7952B3 !important;
}

.mat-raised-button:focus, .mat-raised-button:hover {
    border-color: #614092 !important;
    background: #614092 !important;
    color: #ffffff !important;
}

.mat-fab, .mat-mini-fab, .mat-raised-button {
    color: rgba(0, 0, 0, .87);
    background-color: #563d7c;
}

.mat-fab, .mat-mini-fab, .mat-raised-button:hover {
    color: rgba(0, 0, 0, .87);
    background-color: #e9ecef;
}

.button-material {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-remove {
    float: left;
}

.btn-apply {
    float: right;
}

.btn-cancel {
    margin-left: 20px;
    margin-right: 40px;
    float: right;
}

.btn-justified {
    justify-content: space-around;
}

.button-material-footer {
    align-items: center;
}

.mat-radio-button {
    padding: 10px !important;
}

.radio-btn-adjust {
    color: rgba(0, 0, 0, .54);
}

.mat-radio-label {
    padding-top: 16px !important;
}

.radio-btn-selected {
    color: black !important;
}

.radio-label {
    color: rgba(0, 0, 0, .54);
}

.font-radio-group {
    font-size: 0.91rem;
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #563d7c;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #563d7c;
}

.titleLeft {
    float: left;
}

.titleRight {
    float: right;
}

.toggle-search-checked {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
}

.toggle-register-checked {
    font-size: 1.1rem;
}

.labelParameter {
    font-weight: 600;
}

.bottom-paginator {
    flex: 1;
    margin-top: -10px;
    padding-right: 10px;
}

.bottom {
    display: flex;
    flex-direction: row-reverse;
}

.btn-create {
    position: relative;
}

.lbl-create {
    padding-left: 2px;
}

.btn-par-container {
    display: -webkit-inline-box;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.btn-remove-par {
    margin-left: 20px;
}

.btn-edit-par {
    margin-left: 20px;
}

.btn-create-par {
}

//noinspection ALL
::ng-deep .cdk-overlay-pane.mat-datepicker-popup {
    top: 48px !important;
}
