<h5 mat-dialog-title>Tem certeza que deseja finalizar a vigência do parâmetro selecionado?</h5>

<div mat-dialog-actions>
    <button mat-button (click)="onYesClick()">Sim</button>
    <button mat-button (click)="onNoClick()">Não</button>
</div>
