<div class="col-xl-12 btn-par-container" *ngxPermissionsOnly="[permission.getDigContabilAprovador()]">
    <div class="btn-remove-par"
         [hidden]="(dataSource.isDataSourceEmpty()) || (dataSource.loading$ | async) || (highlightedRows.length === 0)">
        <button type="button" (click)="disapprove()" mat-raised-button>
            <span><i class="btn-create fa fa-minus"></i></span> <span class="lbl-create"> Reprovar</span>
        </button>
    </div>

    <div class="btn-edit-par"
         [hidden]="(dataSource.isDataSourceEmpty()) || (dataSource.loading$ | async) || (highlightedRows.length === 0)">
        <button type="button" (click)="approve()" mat-raised-button>
            <span><i class="btn-create fa fa-pencil"></i></span> <span class="lbl-create"> Aprovar</span>
        </button>
    </div>

    <div class="btn-refresh-par">
        <button type="button" (click)="loadData()" mat-raised-button>
            <span><i class="btn-create fa fa-retweet"></i></span> <span class="lbl-create"> Atualizar</span>
        </button>
    </div>
</div>

<br/>
<br/>

<div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
    <i class="fa fa-smile-o"></i> Não há solicitações de cadastro pendentes para aprovação ou reprovação.
</div>

<div class="col-xl-12" [hidden]="(dataSource.isDataSourceEmpty()) || (dataSource.loading$ | async)">
    <div class="table-container mat-elevation-z8">

        <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.isDataSourceEmpty() || (dataSource.loading$ | async)"
                   class="table table-striped" matSort matSortDisableClear>

            <ng-container matColumnDef="validityStart">
                <mat-header-cell *matHeaderCellDef mat-sort-header="validityStart" class="mat-validitystart"> Início Validade
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-validitystart">
                    {{element.validityStartLocalePtBR}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="validityEnd">
                <mat-header-cell *matHeaderCellDef mat-sort-header="validityEnd" class="mat-validityend"> Fim Validade
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-validityend">
                    {{element.validityEndLocalePtBR}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef class="mat-value" mat-sort-header="value">
                    Valor
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-value">
                    {{element.value}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valueDescription">
                <mat-header-cell *matHeaderCellDef class="mat-valuedescription" mat-sort-header="valueDescription">
                    Descrição do Valor
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-valuedescription">
                    {{element.valueDescription}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="registerResponsible">
                <mat-header-cell *matHeaderCellDef class="mat-registerresponsible" mat-sort-header="registerResponsible">
                    Responsável pelo Cadastro
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-registerresponsible">
                    {{element.registerResponsible}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     (click)="onSelectRow(row)"
                     [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''"></mat-row>
        </mat-table>

        <div class="bottom">
            <div class="bottom-paginator">
                <mat-paginator [hidden]="dataSource.isDataSourceEmpty() || (dataSource.loading$ | async)"
                               [length]="dataSource.response.totalElements"
                               [pageSize]="20"
                               [pageSizeOptions]="[3, 5, 10, 20, 50]"
                               [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
