<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/dashboard'"
                     [titleFirstLevel]="'Dashboard'"
                     [iconFirstLevel]="'fa-dashboard'"
                     titleCurrent=""
                     [iconCurrent]="'fa-stack-overflow'"></app-page-header>

    <h2 class="text-muted">
        <small> Ato Cooperativo e Ato Não Cooperativo</small>
    </h2>

    <br>

    <div class="col-xl-12" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
        <div class="card">
            <div class="card-header"><i class="fa fa-search fa-fw"></i> Pesquisar</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" #typeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Empresa" [(value)]="selectedCompany" multiple>
                                    <mat-option *ngFor="let it of companies" [value]="it.value">
                                        {{ it.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Agência</mat-label>
                                <input matInput id="agency" type="text"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="entity.agency" name="agency" formControlName="agency">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Sistema" [(value)]="selectedSystem" multiple>
                                    <mat-option *ngFor="let i of systems" [value]="i.value">
                                        {{ i.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendar"
                                       (dateChange)="startDateChange('change', $event)"
                                       placeholder="Data início"
                                       [value]="startDate.value">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendar"
                                       (dateChange)="endDateChange('change', $event)"
                                       placeholder="Data fim"
                                       [value]="endDate.value">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Tipo</mat-label>
                                <input matInput id="type" type="text"
                                       [(ngModel)]="entity.type" name="type" formControlName="type">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Conta</mat-label>
                                <input matInput id="account" type="text"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="entity.account" name="account" formControlName="account">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>CNPJ/CPF</mat-label>
                                <input matInput id="document" type="text"
                                       [(ngModel)]="entity.document" name="document" formControlName="document">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Documento SAP</mat-label>
                                <input matInput id="docSap" type="text"
                                       [(ngModel)]="entity.docSap" name="docSap" formControlName="docSap">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Associado" [(value)]="selectedAssociated">
                                    <mat-option *ngFor="let i of associatedTypes" [value]="i.value">
                                        {{ i.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Ato/Ato Não" [(value)]="selectedActNotAct">
                                    <mat-option *ngFor="let i of actNotActTypes" [value]="i.value">
                                        {{ i.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1">
                            <div class="button-material btn-reset">
                                <button type="reset" (click)="reset()" mat-raised-button>
                                    Cancelar
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-apply">
                                <button type="submit" mat-raised-button>
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12 mat-table-margin-bottom" [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)">
        <div class="table-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                       class="table table-striped" matSort matSortDisableClear>
                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef class="mat-company-header-cell"> Empr</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-company-cell"> {{element.company}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="agency">
                    <mat-header-cell *matHeaderCellDef class="mat-agency-header-cell"> Ag
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-agency-cell"> {{element.agency}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="system">
                    <mat-header-cell *matHeaderCellDef class="mat-system-header-cell"> Sistema
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-system-cell">
                        <span *ngIf="element.system === 'TOPAZ'">Topaz</span>
                        <span *ngIf="element.system === 'TECBAN'">Tecban</span>
                        <span *ngIf="element.system === 'INTEGRADOR'">Integrador</span>
                        <span *ngIf="element.system === 'FIDELIDADE'">Fidelidade</span>
                        <span *ngIf="element.system === 'CARTOES'">Cartões</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef class="mat-date-header-cell"> Data
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-date-cell"> {{element.dateToView}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef class="mat-type-header-cell"> Tipo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-type-cell"> {{element.type}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="account">
                    <mat-header-cell *matHeaderCellDef class="mat-account-header-cell"> Conta
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-account-cell"> {{element.account}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="historic">
                    <mat-header-cell *matHeaderCellDef class="mat-historic-header-cell"> Histórico
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-historic-cell"> {{element.historic}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="center">
                    <mat-header-cell *matHeaderCellDef class="mat-center-header-cell"> Centro
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-center-cell"> {{element.center}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef class="mat-value-header-cell"> Valor
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value-cell"> {{element.value}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="debitCredit">
                    <mat-header-cell *matHeaderCellDef class="mat-debitcredit-header-cell"> D/C
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-debitcredit-cell"> {{element.debitCredit}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="document">
                    <mat-header-cell *matHeaderCellDef class="mat-document-header-cell"> CNPJ/CPF
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-document-cell"> {{element.document}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="docSap">
                    <mat-header-cell *matHeaderCellDef class="mat-docsap-header-cell"> Doc SAP
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-docsap-cell"> {{element.docSap}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="associated">
                    <mat-header-cell *matHeaderCellDef class="mat-associated-header-cell"> Assoc
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-associated-cell"> {{element.associated}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actNotActType">
                    <mat-header-cell *matHeaderCellDef class="mat-actnotacttype-header-cell"> Ato/Ato Não
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-actnotacttype-cell">
                        <span *ngIf="element.actNotActType === 'ATO'">Ato</span>
                        <span *ngIf="element.actNotActType === 'ATO NAO'">Ato Não</span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="bottom">
                <div class="bottom-paginator">
                    <mat-paginator [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                                   [length]="dataSource.page.totalElements"
                                   [pageSize]="20"
                                   [pageSizeOptions]="dataSource.page.pageSizeOptions"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>

                <div class="bottom-button-csv">
                    <button type="button" (click)="exportToCSV()" mat-raised-button>
                        Exportar dados para XLS
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
