<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/engine'"
                     [titleFirstLevel]="'Engine'"
                     [iconFirstLevel]="'fa-cogs'"
                     titleCurrent=""
                     [iconCurrent]="'fa-archive'"></app-page-header>

    <h2 class="text-muted">
        <small> Acompanhamento dos Cadastramentos Massivos Inconsistentes</small>
    </h2>

    <br>

    <div class="col-xl-12" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
        <div class="card">
            <div class="card-header"><i class="fa fa-search fa-fw"></i> Pesquisar</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" #typeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Sistema" [(value)]="selectedSystem" multiple>
                                    <mat-option *ngFor="let i of systems" [value]="i.value">
                                        {{ i.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Data Início</mat-label>
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendar"
                                       [(ngModel)]="startDate" (dateChange)="startDateChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Data Fim</mat-label>
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendar"
                                       [(ngModel)]="endDate" (dateChange)="endDateChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>ID do Evento</mat-label>
                                <input matInput id="eventId" type="text"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="entity.eventId" name="eventId" formControlName="eventId">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Evento</mat-label>
                                <input matInput id="event" type="text"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="entity.event" name="event" formControlName="event">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Unidade de Débito</mat-label>
                                <input matInput id="debitUnit" type="text"
                                       [(ngModel)]="entity.debitUnit" name="debitUnit" formControlName="debitUnit">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Unidade de Crédito</mat-label>
                                <input matInput id="creditUnit" type="text"
                                       [(ngModel)]="entity.creditUnit" name="creditUnit" formControlName="creditUnit">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2">
                            <mat-form-field class="form-material">
                                <mat-label>Estorno</mat-label>
                                <input matInput id="reversal" type="text"
                                       [(ngModel)]="entity.reversal" name="reversal" formControlName="reversal">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-reset">
                                <button type="reset" (click)="reset()" mat-raised-button>
                                    Cancelar
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-apply">
                                <button type="submit" mat-raised-button>
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12 mat-table-margin-bottom" [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)">
        <div class="table-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                       class="table table-striped" matSort matSortDisableClear>

                <ng-container matColumnDef="system">
                    <mat-header-cell *matHeaderCellDef class="mat-system-cell" mat-sort-header="system">Sistema</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-system-cell">{{element.system}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="baseDate">
                    <mat-header-cell *matHeaderCellDef class="mat-basedate-cell" mat-sort-header="baseDate">Data Base</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-basedate-cell">{{element.baseDate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="eventId">
                    <mat-header-cell *matHeaderCellDef class="mat-eventid-cell" mat-sort-header="eventId">ID Evento</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-eventid-cell">{{element.eventId}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="event">
                    <mat-header-cell *matHeaderCellDef class="mat-event-cell" mat-sort-header="event">Evento</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-event-cell">{{element.event}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="debitUnit">
                    <mat-header-cell *matHeaderCellDef class="mat-debitunit-cell" mat-sort-header="debitUnit">Unidade Débito</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-debitunit-cell">{{element.debitUnit}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="creditUnit">
                    <mat-header-cell *matHeaderCellDef class="mat-creditunit-cell" mat-sort-header="creditUnit">Unidade Crédito</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-creditunit-cell">{{element.creditUnit}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="reversal">
                    <mat-header-cell *matHeaderCellDef class="mat-reversal-cell" mat-sort-header="reversal">Estorno</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-reversal-cell">{{element.reversal}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="inputError">
                    <mat-header-cell *matHeaderCellDef class="mat-inputerror-cell" mat-sort-header="inputError">Erro Entrada</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-inputerror-cell">{{element.inputError}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="identificationOrigin">
                    <mat-header-cell *matHeaderCellDef class="mat-identificationorigin-cell" mat-sort-header="identificationOrigin">Identificação Origem</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-identificationorigin-cell">{{element.identificationOrigin}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="transactionId">
                    <mat-header-cell *matHeaderCellDef class="mat-transactionid-cell" mat-sort-header="transactionId">ID Transação</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-transactionid-cell">{{element.transactionId}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="personDocument">
                    <mat-header-cell *matHeaderCellDef class="mat-persondocument-cell" mat-sort-header="personDocument">Documento Pessoa</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-persondocument-cell">{{element.personDocument}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule1">
                    <mat-header-cell *matHeaderCellDef class="mat-rule1-cell" mat-sort-header="rule1">Regra 1</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule1-cell">{{element.rule1}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule2">
                    <mat-header-cell *matHeaderCellDef class="mat-rule2-cell" mat-sort-header="rule2">Regra 2</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule2-cell">{{element.rule2}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule3">
                    <mat-header-cell *matHeaderCellDef class="mat-rule3-cell" mat-sort-header="rule3">Regra 3</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule3-cell">{{element.rule3}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule4">
                    <mat-header-cell *matHeaderCellDef class="mat-rule4-cell" mat-sort-header="rule4">Regra 4</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule4-cell">{{element.rule4}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule5">
                    <mat-header-cell *matHeaderCellDef class="mat-rule5-cell" mat-sort-header="rule5">Regra 5</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule5-cell">{{element.rule5}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule6">
                    <mat-header-cell *matHeaderCellDef class="mat-rule6-cell" mat-sort-header="rule6">Regra 6</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule6-cell">{{element.rule6}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule7">
                    <mat-header-cell *matHeaderCellDef class="mat-rule7-cell" mat-sort-header="rule7">Regra 7</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule7-cell">{{element.rule7}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule8">
                    <mat-header-cell *matHeaderCellDef class="mat-rule8-cell" mat-sort-header="rule8">Regra 8</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule8-cell">{{element.rule8}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule9">
                    <mat-header-cell *matHeaderCellDef class="mat-rule9-cell" mat-sort-header="rule9">Regra 9</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule9-cell">{{element.rule9}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rule10">
                    <mat-header-cell *matHeaderCellDef class="mat-rule10-cell" mat-sort-header="rule10">Regra 10</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-rule10-cell">{{element.rule10}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value1">
                    <mat-header-cell *matHeaderCellDef class="mat-value1-cell" mat-sort-header="value1">Valor 1</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value1-cell">{{element.value1}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value2">
                    <mat-header-cell *matHeaderCellDef class="mat-value2-cell" mat-sort-header="value2">Valor 2</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value2-cell">{{element.value2}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value3">
                    <mat-header-cell *matHeaderCellDef class="mat-value3-cell" mat-sort-header="value3">Valor 3</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value3-cell">{{element.value3}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value4">
                    <mat-header-cell *matHeaderCellDef class="mat-value4-cell" mat-sort-header="value4">Valor 4</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value4-cell">{{element.value4}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value5">
                    <mat-header-cell *matHeaderCellDef class="mat-value5-cell" mat-sort-header="value5">Valor 5</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value5-cell">{{element.value5}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value6">
                    <mat-header-cell *matHeaderCellDef class="mat-value6-cell" mat-sort-header="value6">Valor 6</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value6-cell">{{element.value6}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value7">
                    <mat-header-cell *matHeaderCellDef class="mat-value7-cell" mat-sort-header="value7">Valor 7</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value7-cell">{{element.value7}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value8">
                    <mat-header-cell *matHeaderCellDef class="mat-value8-cell" mat-sort-header="value8">Valor 8</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value8-cell">{{element.value8}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value9">
                    <mat-header-cell *matHeaderCellDef class="mat-value9-cell" mat-sort-header="value9">Valor 9</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value9-cell">{{element.value9}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value10">
                    <mat-header-cell *matHeaderCellDef class="mat-value10-cell" mat-sort-header="value10">Valor 10</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-value10-cell">{{element.value10}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="bottom">
                <div class="bottom-paginator">
                    <mat-paginator [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                                   [length]="dataSource.page.totalElements"
                                   [pageSize]="20"
                                   [pageSizeOptions]="dataSource.page.pageSizeOptions"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
