<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/gestao-erro'"
                     [titleFirstLevel]="'Gestão de Erro'"
                     [iconFirstLevel]="'fa-wrench'"
                     titleCurrent=""
                     [iconCurrent]="'fa-archive'"></app-page-header>

    <h2 class="text-muted">
        <small> Erro por Falta de Histórico no Topaz</small>
    </h2>

    <br>

    <div class="col-xl-12" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
        <div class="card">
            <div class="card-header"><i class="fa fa-search fa-fw"></i> Pesquisar</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" #typeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendar"
                                       (dateChange)="startDateChange('change', $event)"
                                       placeholder="Data início"
                                       [value]="startDate.value">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendar"
                                       (dateChange)="endDateChange('change', $event)"
                                       placeholder="Data fim"
                                       [value]="endDate.value">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="form-material">
                                <mat-label>Operação</mat-label>
                                <input matInput id="operation" type="text"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       [(ngModel)]="operation" name="operation" formControlName="operation">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-reset">
                                <button type="reset" (click)="reset()" mat-raised-button>
                                    Cancelar
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-apply">
                                <button type="submit" mat-raised-button>
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12 mat-table-margin-bottom" [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)">
        <div class="table-container mat-elevation-z8">

            <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                       class="table table-striped" matSort matSortDisableClear>

                <ng-container matColumnDef="dateDoc">
                    <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell" mat-sort-header="dateDoc"> Data doc</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.dateDocToView}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="glAccount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="glAccount" class="mat-glaccount-cell"> Conta
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-glaccount-cell"> {{element.glAccount}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="itemText">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="itemText" class="mat-itemtext-cell"> Texto
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-itemtext-cell"> {{element.itemText}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="operation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="operation" class="mat-operation-cell"> Operação
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-operation-cell"> {{element.operation}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="codTransaction">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="codTransaction" class="mat-codtransaction-cell"> Cod. transação
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-codtransaction-cell"> {{element.codTransaction}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="debitCredit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="debitCredit" class="mat-debitcredit-cell"> Débito/Crédito
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-debitcredit-cell"> {{element.debitCredit}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="bottom">
                <div class="bottom-paginator">
                    <mat-paginator [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                                   [length]="dataSource.page.totalElements"
                                   [pageSize]="20"
                                   [pageSizeOptions]="dataSource.page.pageSizeOptions"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
