<div mat-dialog-content>
    <mat-form-field>
        <textarea matInput placeholder="Justificativa para desconsiderar os registros selecionados"
                  matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="20" maxlength="250"
                  [(ngModel)]="data.justification"></textarea>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="onPurge()" [disabled]="!data.justification"
            [mat-dialog-close]="data.justification" cdkFocusInitial>Desconsiderar
    </button>
</div>
