<div [@routerTransition]>
  <app-page-header 
    [urlFirstLevel]="'/gestao-erro'"
    [titleFirstLevel]="'Gestão de Erro'"
    [iconFirstLevel]="'fa-wrench'"
    titleCurrent=""
    [iconCurrent]="'fa-archive'">
  </app-page-header>
  <h2 class="text-muted">
    <small class="ng-tns-c5-1">Avaliação Eventos Engine</small>
  </h2>
  <br>

  <div class="col-xl-12" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
    'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
      <div class="card">
      <div class="card-header"><i class="fa fa-search fa-fw"></i>Pesquisar</div>
      <div class="card-body">
        <form [formGroup]="eventsEvaluationForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field class="form-material">                 
                <mat-select placeholder="Empresa" id="company" name="company" formControlName="company">
                  <mat-option *ngFor="let company of companies" [value]="company.value">
                    {{ company?.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
            </div>
          
            <div class="col-sm-3">
              <mat-form-field class="form-material">                 
                <mat-select placeholder="Sistema" id="system" name="system" formControlName="system">
                  <mat-option *ngFor="let system of systems" [value]="system.value">
                    {{ system?.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> 

            <div class="col-sm-3">
              <mat-form-field class="form-material">
                <mat-label>Data Inicial</mat-label>
                <input matInput [matDatepicker]="pickerStartDate" formControlName="startDate" #startDate (dateChange)="isValidDate(startDate.value, endDate.value)">
                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate></mat-datepicker>
              </mat-form-field>
            </div>
  
            <div class="col-sm-3">
              <mat-form-field class="form-material">
                <mat-label>Data Final</mat-label>
                <input matInput [matDatepicker]="pickerEndDate" formControlName="endDate" #endDate (dateChange)="isValidDate(startDate.value, endDate.value)">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker>
              </mat-form-field> 
            </div>

            <div class="col-sm-3">
              <mat-form-field class="form-material">                 
                <mat-select placeholder="Tipo" id="type" name="type" formControlName="type">
                  <mat-option *ngFor="let type of types" [value]="type.value">
                    {{ type?.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>           

            <div class="col-sm-3">
              <mat-form-field class="form-material">                 
                <mat-select placeholder="Status" id="status" name="status" formControlName="status">
                  <mat-option *ngFor="let status of allStatus" [value]="status.value">
                    {{ status?.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-3">       
              <div class="button-material">
                <button type="reset" mat-raised-button (click)="sendGroupDetails()" [disabled]="selectedRow.length === 0"> 
                  Detalhar
                </button>
              </div>
            </div>

            <div class="col-sm-3">            
              <div class="button-material">
                <button type="reset" (click)="reset()" mat-raised-button>
                  Cancelar
                </button>

                <button type="submit" mat-raised-button [disabled]="!dateIsValid"> 
                  Pesquisar
                </button>
              </div>
            </div>

          </div>
        </form>    
     
      </div>
    </div>

    <div id="spinner" class="spinner-container" *ngIf="dataSource?.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>

    <div class="no-data-found" [hidden]="!dataSource.noDataFound">
      <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>
    <br/>
    <div class="row">
      <div class="col-xl-12 mat-table-margin-bottom" [hidden]="dataSource?.itemsSubject.getValue().length === 0 || (dataSource?.loading$ | async)">
      <div class="table-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" class="table table-striped" matSort matSortDisableClear
        [hidden]="dataSource?.itemsSubject.getValue().length === 0 || (dataSource?.loading$ | async)">

          <ng-container matColumnDef="markedToDetails">
            <mat-header-cell *matHeaderCellDef>
              <!-- <input type="checkbox" id="checkAllColumns" [(ngModel)]="checks" /> -->
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox 
                (change)="checkboxLabel(row)"
                [checked]="selection?.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Empresa</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.company}} </mat-cell>
          </ng-container>    

          <ng-container matColumnDef="system">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Sistema</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.system}} </mat-cell>
          </ng-container>    

          <ng-container matColumnDef="baseDate">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Data Base</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.baseDate | date:'dd/MM/yyyy'}} </mat-cell>
          </ng-container>    

          <ng-container matColumnDef="eventType">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell"> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> 
              <div *ngIf="element.eventType === 'movement'">
                MOVIMENTO
              </div>   
              <div *ngIf="element.eventType === 'balance'"> 
                SALDO
              </div>          
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Eventos Postados</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.total}} </mat-cell>
          </ng-container>   
          
          <ng-container matColumnDef="valids">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Processados com Sucesso</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.valids}} </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="errors">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Processado com Erro</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.errors}} </mat-cell>
          </ng-container> 
          
          <ng-container matColumnDef="timestampIn">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Data da Postagem</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.postDate | date:'dd/MM/yyyy'}} </mat-cell>
          </ng-container>   

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell"> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> 
              <div *ngIf="element.status === 'OK'">
                <mat-chip-list>
                  <mat-chip class="status-chip success">OK</mat-chip>
                </mat-chip-list>
              </div>   
              <div *ngIf="element.status === 'Erro'"> 
                <mat-chip-list>
                  <mat-chip class="status-chip error">ERRO</mat-chip>
                </mat-chip-list>
              </div>          
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div class="bottom">
          <div class="bottom-paginator">
            <mat-paginator [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                          [length]="count"
                          [pageSize]="20"
                          [pageSizeOptions]="dataSource.page.pageSizeOptions"
                          [showFirstLastButtons]="true"
                          (page)="pageEvent = handlePage($event)">
            </mat-paginator>
          </div>
        </div> 

        </div>
      </div>
    </div>
   
  </div>
</div>
