.mat-cell {
    font-size: 13px !important;
}

.container-filters {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.form-material {
    min-width: 150px;
    max-width: 5000px;
    width: 100%;
    color: rgba(0, 0, 0, .87);
}

.mat-raised-button {
    font-size: 12px !important;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-color: #7952B3 !important;
    &:disabled {
        background-color: transparent;
    }

    &hover, &focus {
        border-color: #614092 !important;
        background: #614092 !important;
        color: #ffffff !important;
        &:disabled {
            background-color: transparent;
        }
    }
}

.mat-form-field {
    font-size: 13px !important;
    width: 100%;
}

.mat-fab, .mat-mini-fab, .mat-raised-button {
    color: rgba(0, 0, 0, .87);
    background-color: #563d7c;
}

.mat-fab, .mat-mini-fab, .mat-raised-button:hover {
    color: rgba(0, 0, 0, .87);
    background-color: #e9ecef;
}

.button-material {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-apply {
    margin-left: 90px;
}

.btn-reset {
    margin-left: 50px;
}

.btn-justified {
    justify-content: space-around;
}

.button-material-footer {
    align-items: center;
}

input[type='checkbox'] {
    position: relative;
    margin: 3px 1rem 0 0;
    cursor: pointer;
    outline: none;

    &:before {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 0.9rem;
        height: 0.9rem;
        border: 2px solid #e5e5e5;
    }

    &:checked:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        height: .5rem;
        border-color: #009688;
        border-top-style: none;
        border-right-style: none;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0.9rem;
        height: 0.9rem;
        background: #fff;
        cursor: pointer;
    }

    &:disabled {
        opacity: .2;
        cursor: auto;
    }
}

.spinner-container {
    height: 360px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 43%;
}

@media screen and (min-height: 1000px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 1000px;
        background-color: white !important;
    }
}

@media screen and (max-height: 800px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 520px;
        background-color: white !important;
    }
}

@media screen and (min-height: 800px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 750px;
        background-color: white !important;
    }
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-row {
    padding: 0 !important;
}

.mat-header-cell {
    padding: 0 !important;  
}
// .mat-cell {
//     flex: auto !important;
// }

// .mat-header-cell {
//     flex: auto !important;
// }

.mat-table {
    padding: 0 16px;

    > .mat-header-row {
        position: sticky !important;
        top: 0 !important;
        background: white !important;
        z-index: 900;
    }

    > .mat-header-row {
        padding: 0;
        border: none;

        > .mat-header-cell {
            font-weight: 600;
        }

        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            min-height: 40px;
            vertical-align: middle;
            padding: 0 0.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-company-header-cell {
    width: 3rem;
}

.mat-company-cell {
    width: 3rem;
}

.mat-agency-header-cell {
    width: 3rem;
}

.mat-agency-cell {
    width: 3rem;
}

.mat-system-header-cell {
    width: 5rem;
}

.mat-system-cell {
    width: 5rem;
}

.mat-date-header-cell {
    width: 7rem;
}

.mat-date-cell {
    width: 7rem;
}

.mat-type-header-cell {
    width: 3rem;
}

.mat-type-cell {
    width: 3rem;
}

.mat-account-header-cell {
    width: 6rem;
}

.mat-account-cell {
    width: 6rem;
}

.mat-historic-header-cell {
    width: 15rem;
}

.mat-historic-cell {
    width: 15rem;
}

.mat-center-header-cell {
    width: 6rem;
}

.mat-center-cell {
    width: 6rem;
}

.mat-value-header-cell {
    width: 5rem;
}

.mat-value-cell {
    width: 5rem;
}

.mat-debitcredit-header-cell {
    width: 3rem;
}

.mat-debitcredit-cell {
    width: 3rem;
}

.mat-document-header-cell {
    width: 8rem;
}

.mat-document-cell {
    width: 8rem;
}

.mat-docsap-header-cell {
    width: 6rem;
}

.mat-docsap-cell {
    width: 6rem;
}

.mat-associated-header-cell {
    width: 3rem;
}

.mat-associated-cell {
    width: 3rem;
}

.mat-actnotacttype-header-cell {
    width: 6rem;
}

.mat-actnotacttype-cell {
    width: 6rem;
}

.mat-paginator {
    background: none;
    color: rgba(0, 0, 0, .87) !important;
    font-size: 12px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.mat-table-pagination mat-select:not([disabled]):focus .mat-select-value {
    color: white !important;
}

.mat-table-margin-bottom {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.nav-link-controls {
    padding-left: 1.7rem !important;
}

.bottom-bg-purple {
    background-color: #343a40;
    padding: 0;
    font-size: 13px;
}

.bottom-button-csv {
    flex: 1;
    padding-left: 20px;
}

.bottom-paginator {
    flex: 1;
    margin-top: -10px;
    padding-right: 10px;
}

.bottom {
    display: flex;
    flex-direction: row-reverse;
}

//noinspection ALL
::ng-deep .cdk-overlay-pane.mat-datepicker-popup {
    top: 48px !important;
}

.status-chip {
    font-size: 11px;
    width: 80px;
    text-align: center !important;
    color: white;
    display: initial !important;
}

.success {
    background-color: #3FA110
}

.error {
    background-color: #AB4745;   
}

.no-data-found {
    text-align: center; 
    margin-top: 30px;
}