<div [@routerTransition]>
  <app-page-header 
    [urlFirstLevel]="'/gestao-erro'"
    [titleFirstLevel]="'Gestão de Erro'"
    [iconFirstLevel]="'fa-wrench'"
    titleCurrent=""
    [iconCurrent]="'fa-archive'">
  </app-page-header>
  <h2 class="text-muted">
    <small class="ng-tns-c5-1">Detalhes dos Dados Eventos Engine</small>
  </h2>
  <button mat-button class="btn-back" (click)="backToEventsEvaluation()">
    Voltar
  </button>
  <br>

  <div class="col-xl-12" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
    'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
    
   <div id="spinner" class="spinner-container" *ngIf="dataSource?.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <br/>
    <!-- <div class="no-data-found" [hidden]="!dataSource.noDataFound">
      <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div> -->
    
    <div class="row">
      <div class="col-xl-12 mat-table-margin-bottom" [hidden]="dataSource?.itemsSubject.getValue().length === 0 || (dataSource?.loading$ | async)">
      <div class="table-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" class="table table-striped" matSort matSortDisableClear
        [hidden]="dataSource?.itemsSubject.getValue().length === 0 || (dataSource?.loading$ | async)">

          <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">
              <i class="fa fa-fw fa-file"></i>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> 
              <a (click)="openPayloadDialog(element)" class="icon">
                <i class="fa fa-fw fa-file"></i>
              </a>
            </mat-cell>
          </ng-container>    

          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Empresa</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.company}} </mat-cell>
          </ng-container>    

          <ng-container matColumnDef="system">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Sistema</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.system}} </mat-cell>
          </ng-container>    
          
          <ng-container matColumnDef="baseDate">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Data Base</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.baseDate | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container>  

          <ng-container matColumnDef="eventType">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell"> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> 
              <div *ngIf="element.eventType === 'movement'">
                MOVIMENTO
              </div>   
              <div *ngIf="element.eventType === 'balance'"> 
                SALDO
              </div>          
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="eventCode">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Código do Evento</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.eventCode | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="eventId">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">ID do Evento</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> 
              <span> {{element.uniqueIndex}} </span>
              <span class="hidden"> {{element.collectionName}} </span>
            </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="reversal">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Estorno</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.reversal}} </mat-cell>
          </ng-container> 

          <!-- <ng-container matColumnDef="operationDate">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Data da Operação</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.operationDate}} </mat-cell>
          </ng-container>  -->

          <ng-container matColumnDef="document">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Documento</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.document}} </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="postingDate">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Data da Postagem</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> {{element.postDate | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell">Mensagem</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> 
              <button 
                class="btn-invisible"
                #tooltip="matTooltip"
                (click)="tooltip.toggle()"
                matTooltip="{{ element?.message }}">
                  {{ (element?.message?.length > 32) ? (element?.message | slice:0:32) + '...' : (element?.message)}}
              </button>
            </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef class="mat-datedoc-cell"> Status </mat-header-cell>
             <mat-cell *matCellDef="let element" class="mat-datedoc-cell"> 
              <div *ngIf="element.status === 'NotValidated'"> 
                Não Validado
              </div>   
              <div *ngIf="element.status === 'NotParsed'">            
                Não Analisado
              </div>  
              <div *ngIf="element.status === 'Validated'"> 
                Validado
              </div>  
              <div *ngIf="element.status === 'AnalyticalCreated'">
                Analítico Criado
              </div>     
              <div *ngIf="element.status === 'AnalyticalNotCreated'"> 
                Analítico Não Criado
              </div>         
            </mat-cell>         
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div class="bottom">
            <div class="bottom-paginator">
              <mat-paginator [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                             [length]="count"
                             [pageSize]="20"
                             [pageSizeOptions]="dataSource.page.pageSizeOptions"
                             [showFirstLastButtons]="true"
                             (page)="pageEvent = handlePage($event)">
              </mat-paginator>
            </div>
          </div>

        </div>
      </div>
    </div>
   
  </div>
</div>
