<nav class="sidebar">
    <div class="list-group">
        <div *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta()]">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
            </a>
        </div>

        <div class="menu-border-top" *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilFiscalAdm()]">
            <a routerLink="/ato-nao-ato" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-stack-overflow"></i> Ato e Ato Não
            </a>
        </div>

        <div class="menu-border-top" *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta(),
            permission.getDigContabilFiscalAdm(), permission.getDigContabilFiscalConsulta()]">
            <div class="nested-menu">
                <a>
                <a class="list-group-item" [routerLink]="['/engine']">
                    <span><i class="fa fa-cogs"></i> Engine</span>
                </a>
                    <li class="nested" [class.expand]="showMenu !== 'engine'">
                        <ul class="submenu">
                            <li>
                                <a href="javascript:void(0)" [routerLink]="['/engine/cadastramento-massivo-inconsistente']"
                                [routerLinkActive]="['router-link-active']">
                                    <i class="fa fa-fw fa-archive"></i> Cadastramento Massivo Inconsistente
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" [routerLink]="['/engine/sistema']" [routerLinkActive]="['router-link-active']">
                                    <i class="fa fa-fw fa-save"></i> Sistema
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" [routerLink]="['/engine/tipo-valor']" [routerLinkActive]="['router-link-active']">
                                    <i class="fa fa-fw fa-save"></i> Tipo Valor Contábil
                                </a>
                            </li>
                        </ul>
                    </li>
                </a>
            </div>
        </div>

        <div class="menu-border-top" *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta()]">
            <div class="nested-menu">
                <!--<a class="list-group-item" (click)="addExpandClass('pages')">-->
                <a class="list-group-item" [routerLink]="['/gestao-erro']">
                    <span><i class="fa fa-wrench"></i>&nbsp; {{ 'Management Error' | translate }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu !== 'pages'">
                    <ul class="submenu">
                        <li *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta()]">
                            <a href="javascript:void(0)" [routerLink]="['/gestao-erro/avaliacao-integracao']" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-fw fa-archive"></i> Avaliação da Integração
                            </a>
                        </li>
                        <li *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta()]">
                            <a href="javascript:void(0)" [routerLink]="['/gestao-erro/avaliacao-lote']" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-fw fa-archive"></i> Avaliação de Lote
                            </a>
                        </li>
                        <li *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta()]">
                            <a href="javascript:void(0)" [routerLink]="['/gestao-erro/erro-falta-historico-topaz']" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-fw fa-archive"></i> Erro por Falta de Histórico no Topaz
                            </a>
                        </li>
                        <li *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta()]">
                            <a href="javascript:void(0)" [routerLink]="['/gestao-erro/erro-sistemico']" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-fw fa-archive"></i> Erro Sistêmico
                            </a>
                        </li>
                        <li *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta()]">
                            <a href="javascript:void(0)" [routerLink]="['/gestao-erro/avalicao-de-eventos-engine']" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-fw fa-archive"></i> Avaliação Eventos Engine
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>

        <div class="menu-border-top" *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta(),
             permission.getDigContabilFiscalAdm(), permission.getDigContabilFiscalConsulta()]">
            <div class="nested-menu">
                <!--<a class="list-group-item" (click)="addExpandClass('pages')">-->
                <a class="list-group-item" [routerLink]="['/parametrizacao']">
                    <span><i class="fa fa-cogs"></i>&nbsp; {{ 'Parameterization' | translate }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu !== 'pages'">
                    <ul class="submenu">
                        <li *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta(),
             permission.getDigContabilFiscalAdm(), permission.getDigContabilFiscalConsulta()]">
                            <a href="javascript:void(0)" [routerLink]="['/parametrizacao/centro']" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-fw fa-save"></i> Centro
                            </a>
                        </li>
                        <li *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta(),
             permission.getDigContabilFiscalAdm(), permission.getDigContabilFiscalConsulta()]">
                            <a href="javascript:void(0)" [routerLink]="['/parametrizacao/integracao-saldo']" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-fw fa-save"></i> Integração de Saldo
                            </a>
                        </li>
                        <li *ngxPermissionsOnly="[permission.getDigContabilAdm(), permission.getDigContabilConsulta(),
             permission.getDigContabilFiscalAdm(), permission.getDigContabilFiscalConsulta()]">
                            <a href="javascript:void(0)" [routerLink]="['/parametrizacao/tipo-movimento']" [routerLinkActive]="['router-link-active']">
                                <i class="fa fa-fw fa-save"></i> Tipo de Movimento
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>

        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{userService.currentUser.username}} </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/login']" (click)="logout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>

    <div class="sid-nav-bottom">
        <a (click)="hideSidNav()" title="Esconder menu lateral" class="a-bottom-sid-bar"><i class="fa fa-arrow-circle-left"></i></a>
    </div>
</nav>
