$topnav-background-color: #fcfcfc;
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 990;//1000;
    top: 56px;
    left: 0px;
    width: 215px;
    margin-left: -215px;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    //border-right: 1px solid rgba(0, 0, 0, 0.125);
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    font-size: 0.90rem !important;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);

    .list-group {
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: rgba(0, 0, 0, .60);
            //font-weight: bold;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        a:hover {
            //background: rgba(0, 0, 0, .05);
            text-decoration: none;
            border-radius: 2px;
            //font-weight: bold;
            color: #212121 !important;
        }
        a.router-link-active {
            //background: rgba(0, 0, 0, .05);
            border-radius: 2px;
            font-weight: bold;
            color: #212121 !important;
        }
        .header-fields {
            padding-top: 10px;

            > .list-group-item:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            //font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #212121;
                text-decoration: none;
                //font-weight: bold;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 1rem 1.5rem 0.75rem;
                }
            }
            a:hover,
            a:focus {
                color: #212121;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            //background: rgba(0, 0, 0, .05);
            border-radius: 2px;
            //font-weight: bold;
            color: #212121 !important;
        }
        .panel-collapse {
            border-radious: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #8c8c8c;
                    }
                    a:hover {
                        color: #212121;
                    }
                }
                .list-group-item:hover {
                    //background: rgba(0, 0, 0, .05);
                    border-radius: 2px;
                    //font-weight: bold;
                    color: #212121 !important;
                }
            }
        }
    }
}

.menu-border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: rgba(0, 0, 0, .60);
                    padding: 10px 10px 10px 0px;
                    display: block;
                }
            }
        }
    }
}

//@media screen and (max-width: 992px) {
//    .sidebar {
//        top: 54px;
//        left: 0px;
//    }
//}

@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
    background-color: #8c8c8c;
}

.sid-nav-bottom {
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    //min-height: 40px;
    padding: 0px 10px 0 0px;
    width: 100%;
    //position: absolute;
    bottom: 0;
}

.sid-nav-bottom a {
    float: right;
    font-size: 20px;
    color: rgba(0, 0, 0, .60);
    cursor: pointer;
}

.sid-nav-bottom a:hover {
    color: #212121;
}
