<div mat-dialog-content>
    <form (ngSubmit)="onSave()" #formDirective="ngForm" #typeForm="ngForm">

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="form-material">
                    <mat-label><strong>Comentário:</strong></mat-label>
                    <textarea matInput [formControl]="feedbackFormControl" maxlength="200"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions>
            <button mat-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-button type="reset" (click)="onReset()">Limpar</button>
            <button mat-button type="submit" cdkFocusInitial>Reprovar</button>
        </div>

    </form>
</div>

