.form-material {
    min-width: 150px;
    max-width: 5000px;
    width: 100%;
    color: rgba(0, 0, 0, .87);
}

.mat-dialog-content {
    overflow: inherit;
}

.mat-dialog-actions {
    float: right;
}
