<h5 mat-dialog-title>Tem certeza que deseja reconsiderar os registros selecionados?</h5>

<div mat-dialog-actions>
    <button mat-button (click)="undoPurge()">Sim</button>
    <button mat-button (click)="onNoClick()">Não</button>
</div>
