<h5 mat-dialog-title>Um relatório com no máximo 50 mil registros pode ser criado.
    Utilize os filtros acima para limitar a quantidade de registros.</h5>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ok</button>
</div>
