<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/gestao-erro'"
                     [titleFirstLevel]="'Gestão de Erro'"
                     [iconFirstLevel]="'fa-wrench'"
                     titleCurrent=""
                     [iconCurrent]="'fa-archive'"></app-page-header>

    <h2 class="text-muted">
        <small> Erro Sistêmico do Kettle</small>
    </h2>

    <br>

    <div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12 mat-table-margin-bottom"
         [hidden]="(!userAuthorized) || (dataSource.allotmentsSubject.getValue().length === 0) || (dataSource.loading$ | async)">
        <div class="table-container mat-elevation-z8">

            <div class="filter-header" [hidden]="dataSource.allotmentsSubject.getValue().length === 0 || (dataSource.loading$ | async)">
                <mat-form-field>
                    <input matInput placeholder="Filtro" #input/>
                </mat-form-field>
            </div>

            <mat-table #table [dataSource]="dataSource"
                       [hidden]="dataSource.allotmentsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                       class="table table-striped" matSort matSortDisableClear>
                <ng-container matColumnDef="markedToDelete">
                    <mat-header-cell *matHeaderCellDef class="mat-markedtodelete-header-cell">
                        <input type="checkbox" id="checkall" [(ngModel)]="checks" (click)="checkall($event)"/>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-markedtodelete-cell">
                        <input type="checkbox" id="{{element.id}}" [(ngModel)]="element.markedToDelete"
                               (click)="checkMarkedToDelete(element, $event)"/>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef class="mat-date-header-cell" mat-sort-header="date">
                        Data do Arquivo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-date-cell">
                        {{element.date}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="file">
                    <mat-header-cell *matHeaderCellDef class="mat-file-header-cell" mat-sort-header="file">
                        Arquivo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-file-cell">
                        {{element.file}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="error">
                    <mat-header-cell *matHeaderCellDef class="mat-error-header-cell" mat-sort-header="error">
                        Erro
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-error-cell">
                        {{element.error}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="detail">
                    <mat-header-cell *matHeaderCellDef class="mat-detail-header-cell">
                        Ver Detalhes
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-detail-cell">
                        <a href="javascript:void(0)" [routerLink]="['/gestao-erro/erro-sistemico/erro', element.id]"
                           [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="bottom">
                <div class="bottom-paginator">
                    <mat-paginator [hidden]="dataSource.loading$ | async"
                                   [length]="dataSource.page.totalElements"
                                   [pageSize]="20"
                                   [pageSizeOptions]="dataSource.page.pageSizeOptions"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <nav class="navbar navbar-expand-sm bottom-bg-purple navbar-dark fixed-bottom navbar-controls" [hidden]="!selectedLogError.length">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" (click)="remove()"><i class="fa fa-remove"></i> Remover</a>
            </li>
        </ul>
    </nav>
</div>
