.mat-cell {
    font-size: 13px !important;
}

input[type='checkbox'] {
    position: relative;
    margin: 3px 1rem 0 0;
    cursor: pointer;
    outline: none;

    &:before {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 0.9rem;
        height: 0.9rem;
        border: 2px solid #e5e5e5;
    }

    &:checked:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        height: .5rem;
        border-color: #009688;
        border-top-style: none;
        border-right-style: none;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0.9rem;
        height: 0.9rem;
        background: #fff;
        cursor: pointer;
    }
}

.spinner-container {
    height: 360px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 43%;
}

@media screen and (min-height: 1000px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 1000px;
        background-color: white !important;
    }
}

@media screen and (max-height: 800px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 520px;
        background-color: white !important;
    }
}

@media screen and (min-height: 800px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 750px;
        background-color: white !important;
    }
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-cell {
    flex: auto !important;
}

.mat-header-cell {
    flex: auto !important;
}

.mat-table {
    padding: 0 16px;

    > .mat-header-row {
        position: sticky !important;
        top: 0 !important;
        background: white !important;
        z-index: 900;
    }

    > .mat-header-row {
        padding: 0;
        border: none;
        display: inline-table;

        > .mat-header-cell {
            font-weight: 600;
        }

        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            min-height: 40px;
            vertical-align: middle;
            padding: 0 0.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-markedtodelete-header-cell {
    width: 2rem !important;
    text-align: center;
}

.mat-markedtodelete-cell {
    width: 2rem !important;
    text-align: center;
}

.mat-date-header-cell {
    width: 10rem;
}

.mat-date-cell {
    width: 10rem;
}

.mat-file-header-cell {
    width: 20rem;
}

.mat-file-cell {
    width: 20rem;
}

.mat-error-header-cell {
    width: 50rem;
}

.mat-error-cell {
    width: 50rem;
}

.mat-detail-header-cell {
    width: 8rem;
}

.mat-detail-cell {
    width: 8rem;

    a {
        text-align: right;
    }
}

.mat-paginator {
    background: none;
    color: rgba(0, 0, 0, .87) !important;
    font-size: 12px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.mat-table-pagination mat-select:not([disabled]):focus .mat-select-value {
    color: white !important;
}

.mat-table-margin-bottom {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.nav-link-controls {
    padding-left: 1.7rem !important;
}

.bottom-bg-purple {
    background-color: #343a40;
    padding: 0;
    font-size: 13px;
}

.filter-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 13px !important;
    width: 100%;
}

.ml-auto, .mx-auto {
    margin-left: 2rem !important;
}

.bottom-paginator {
    flex: 1;
    margin-top: -10px;
    padding-right: 10px;
}

.bottom {
    display: flex;
    flex-direction: row-reverse;
}
