<div [@routerTransition]>
    <h2 class="text-muted"> Engine Contábil</h2>

    <br>

    <div class="row">
        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToMassiveRegistration()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="content-card">Cadastramento Massivo</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Ver registros </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToSystem()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-save fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="content-card">Definição de Sistema</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Alterar parâmetros </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="outer-container"
             *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_FISCAL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
            <a (click)="goToTypeValue()" href="javascript:void(0)" class="float-right card-inverse link-card-management-error">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-save fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="content-card">Definição de Tipo Valor</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="link-bottom"> <i class="fa fa-arrow-circle-right"> </i></span>
                        <span class="link-bottom"> Alterar parâmetros </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
