<div [@routerTransition]>
    <app-page-header [urlFirstLevel]="'/gestao-erro'"
                     [titleFirstLevel]="'Gestão de Erro'"
                     [iconFirstLevel]="'fa-wrench'"
                     titleCurrent=""
                     [iconCurrent]="'fa-archive'"></app-page-header>

    <h2 class="text-muted">
        <small> Avaliação da Integração SAP</small>
    </h2>

    <br>

    <div class="col-xl-12" *ngxPermissionsOnly="['CN=DIG_CONTABIL_ADM,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR',
             'CN=DIG_CONTABIL_CONSULTA,CN=SOFTWARE,CN=GROUPS,DC=SICREDI,DC=COM,DC=BR']">
        <div class="card">
            <div class="card-header"><i class="fa fa-search fa-fw"></i> Pesquisar</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" #typeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Empresa" [(value)]="selectedCompany" multiple>
                                    <mat-option *ngFor="let company of companies" [value]="company.value">
                                        {{ company.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Sistema" [formControl]="system" [(value)]="selectedSystem" multiple>
                                    <mat-option *ngFor="let system of systems" [value]="system.value">
                                        {{ system.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <mat-select placeholder="Status" [(value)]="selectedStatus">
                                    <mat-option *ngFor="let it of status" [value]="it.value">
                                        {{ it.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startCalendar"
                                       (dateChange)="startDateChange('change', $event)"
                                       placeholder="Data início"
                                       [value]="startDate.value">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4">
                            <mat-form-field class="form-material">
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endCalendar"
                                       (dateChange)="endDateChange('change', $event)"
                                       placeholder="Data fim"
                                       [value]="endDate.value">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-reset">
                                <button type="reset" (click)="reset()" mat-raised-button>
                                    Cancelar
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="button-material btn-apply">
                                <button type="submit" mat-raised-button>
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div id="spinner" class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div style="margin-left: 16px" id="noDataFound" [hidden]="!dataSource.noDataFound">
        <i class="fa fa-frown-o"></i> Nenhum registro encontrado para esta pesquisa.
    </div>

    <div class="col-xl-12 mat-table-margin-bottom" [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)">
        <div class="table-container mat-elevation-z8">

            <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                       class="table table-striped" matSort matSortDisableClear>

                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef class="mat-company-cell" mat-sort-header="company"> Empresa</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-company-cell"> {{element.company}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="system">
                    <mat-header-cell *matHeaderCellDef class="mat-system-cell" mat-sort-header="system"> Sistema</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-system-cell"> {{element.system}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="baseDate">
                    <mat-header-cell *matHeaderCellDef class="mat-basedate-cell" mat-sort-header="baseDate"> Data base</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-basedate-cell"> {{element.baseDateToView}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pendingEvents">
                    <mat-header-cell *matHeaderCellDef class="mat-pendingevents-cell" mat-sort-header="pendingEvents"> Qtde. pendentes
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-pendingevents-cell"> {{element.pendingEvents}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="processedEvents">
                    <mat-header-cell *matHeaderCellDef class="mat-processedevents-cell" mat-sort-header="processedEvents"> Qtde. Processados
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-processedevents-cell"> {{element.processedEvents}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantityIntegrate">
                    <mat-header-cell *matHeaderCellDef class="mat-quantityintegrate-cell" mat-sort-header="quantityIntegrate"> Qtde. integrar
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-quantityintegrate-cell"> {{element.quantityIntegrate}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantityNotIntegrate">
                    <mat-header-cell *matHeaderCellDef class="mat-quantitynotintegrate-cell" mat-sort-header="quantityNotIntegrate"> Qtde. não integrar
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-quantitynotintegrate-cell"> {{element.quantityNotIntegrate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="syntheticMovement">
                    <mat-header-cell *matHeaderCellDef class="mat-syntheticmovement-cell" mat-sort-header="syntheticMovement"> Qtde. Mov. Sintético
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-syntheticmovement-cell"> {{element.syntheticMovement}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantityDocument">
                    <mat-header-cell *matHeaderCellDef class="mat-quantitydocument-cell" mat-sort-header="quantityDocument"> Qtde. Lotes
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-quantitydocument-cell"> {{element.quantityDocument}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="syntheticMovementDocument">
                    <mat-header-cell *matHeaderCellDef class="mat-syntheticmovementdocument-cell" mat-sort-header="syntheticMovementDocument"> Qtde. Doc. sintético
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-syntheticmovementdocument-cell"> {{element.syntheticMovementDocument}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="analyticalMovementDocument">
                    <mat-header-cell *matHeaderCellDef class="mat-analyticalmovementdocument-cell" mat-sort-header="analyticalMovementDocument"> Qtde. Doc. analítico
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-analyticalmovementdocument-cell"> {{element.analyticalMovementDocument}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef class="mat-message-cell" mat-sort-header="message"> Mensagem
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-message-cell"> {{element.message}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="bottom">
                <div class="bottom-paginator">
                    <mat-paginator [hidden]="dataSource.itemsSubject.getValue().length === 0 || (dataSource.loading$ | async)"
                                   [length]="dataSource.page.totalElements"
                                   [pageSize]="20"
                                   [pageSizeOptions]="dataSource.page.pageSizeOptions"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
