.mat-cell {
    font-size: 13px !important;
}

.container-filters {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.form-material {
    min-width: 150px;
    max-width: 5000px;
    width: 100%;
    color: rgba(0, 0, 0, .87);
}

.mat-raised-button {
    font-size: 12px !important;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-color: #7952B3 !important;
}

.mat-raised-button:focus, .mat-raised-button:hover {
    border-color: #614092 !important;
    background: #614092 !important;
    color: #ffffff !important;
}

.mat-fab, .mat-mini-fab, .mat-raised-button {
    color: rgba(0, 0, 0, .87);
    background-color: #563d7c;
}

.mat-fab, .mat-mini-fab, .mat-raised-button:hover {
    color: rgba(0, 0, 0, .87);
    background-color: #e9ecef;
}

.mat-form-field {
    font-size: 13px !important;
    width: 100%;
}

.button-material {
    display: flex;
    align-items: center;
    justify-content: space-around;
    //padding-top: 15px;
}

.btn-apply {
    margin-left: 90px;
}

.btn-reset {
    margin-left: 50px;
}

.btn-justified {
    justify-content: space-around;
}

.button-material-footer {
    align-items: center;
}

input[type='checkbox'] {
    position: relative;
    margin: 3px 1rem 0 0;
    cursor: pointer;
    outline: none;

    &:before {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 0.9rem;
        height: 0.9rem;
        border: 2px solid #e5e5e5;
    }

    &:checked:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        height: .5rem;
        border-color: #009688;
        border-top-style: none;
        border-right-style: none;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0.9rem;
        height: 0.9rem;
        background: #fff;
        cursor: pointer;
    }
}

.spinner-container {
    height: 360px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 43%;
}

@media screen and (min-height: 1000px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 1000px;
        background-color: white !important;
    }
}

@media screen and (max-height: 800px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 520px;
        background-color: white !important;
    }
}

@media screen and (min-height: 800px) {
    .table {
        min-width: 700px;
        overflow: auto;
        max-height: 750px;
        background-color: white !important;
    }
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-cell {
    flex: auto !important;
}

.mat-header-cell {
    flex: auto !important;
}

.mat-table {
    padding: 0 16px;

    > .mat-header-row {
        position: sticky !important;
        top: 0 !important;
        background: white !important;
        z-index: 900;
    }

    > .mat-header-row {
        padding: 0;
        border: none;
        //display: inline-table;

        > .mat-header-cell {
            font-weight: 600;
            min-height: 56px !important;
        }

        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            min-height: 40px;
            vertical-align: middle;
            padding: 0 0.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-system-cell {
    width: 11rem;
}

.mat-company-cell {
    width: 8rem;
}

.mat-basedate-cell {
    width: 11rem;
}

.mat-pendingevents-cell {
    width: 8rem;
}

.mat-processedevents-cell {
    width: 8rem;
}

.mat-quantityintegrate-cell {
    width: 8rem;
}

.mat-quantitynotintegrate-cell {
    width: 8rem;
}

.mat-syntheticmovement-cell {
    width: 8rem;
}

.mat-quantitydocument-cell {
    width: 8rem;
}

.mat-syntheticmovementdocument-cell {
    width: 8rem;
}

.mat-analyticalmovementdocument-cell {
    width: 8rem;
}

.mat-message-cell {
    width: 60rem;
}

.mat-paginator {
    background: none;
    color: rgba(0, 0, 0, .87) !important;
    font-size: 12px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.mat-table-pagination mat-select:not([disabled]):focus .mat-select-value {
    color: white !important;
}

.mat-table-margin-bottom {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.nav-link-controls {
    padding-left: 1.7rem !important;
}

.bottom-bg-purple {
    background-color: #343a40;
    padding: 0;
    font-size: 13px;
}

.mat-disconsidered-cell {
    input[type="checkbox"]:hover {
        cursor: default;
    }
}

.bottom-paginator {
    flex: 1;
    margin-top: -10px;
    padding-right: 10px;
}

.bottom {
    display: flex;
    flex-direction: row-reverse;
}

//noinspection ALL
::ng-deep .cdk-overlay-pane.mat-datepicker-popup {
    top: 48px !important;
}
